<section class="page-title">
  <h1><%= @collection.name %></h1>
</section>
<section class="quicknav-content">
  <%= link_to 'home', welcome_index_path %>/<%= link_to 'collections', collections_path, method: :get %>
</section>

<div class="collection-layout">
    <div class="collection-container">
      <div class="collection-container-row">
        <% @collection.artworks.each do |artwork| %>
          <!-- <div class="collection-artwork-column"> -->
            <%# <% binding.pry %>
            <div class="collection-card-show">
              <div class="collection-artwork-header">
                <%= link_to "#{ artwork.name }", "/artworks/#{ artwork.id }", method: :get %><br>
              </div>
              <div class="collection-artwork-image">
                <%= image_tag(artwork.image) %><br>
              </div>
              <div class="collection-artwork-cost">
                <%= number_to_currency(artwork.cost) %><br>
              </div>
            </div>
          <!-- </div> -->
        <% end %>
      </div>
    </div>
</div>
