<section class="page-title">
  <h1><%= @collection.name %></h1>
</section>
<section class="quicknav-content">
  <%= link_to 'home', welcome_index_path %>/<%= link_to 'collections', collections_path, method: :get %>
</section>

<div class="collection-layout">
    <div class="collection-container">
      <div class="collection-container-row">
        <% @collection.artworks.each do |artwork| %>
          <!-- <div class="collection-artwork-column"> -->
            <%# <% binding.pry %>
            <div class="collection-card-show">
              <div class="collection-artwork-header">
                <%= link_to "#{ artwork.name }", "/artworks/#{ artwork.id }", method: :get %><br>
              </div>
                <% if artwork.photos.attached? %>
                  <div class="collection-artwork-image">
                    <%= link_to image_tag(artwork.photos.first), "/artworks/#{ artwork.id }", method: :get %><br>
                  </div>
                <% else %>
                  <div class="collection-artwork-no-image">
                    <%= link_to 'Image coming soon!', "/artworks/#{ artwork.id }", method: :get, style: 'font-alighn: center' %><br>
                  </div>
                <% end %>
              <div class="collection-artwork-cost">
                <%= number_to_currency(artwork.cost) %><br>
              </div>
            </div>
          <!-- </div> -->
        <% end %>
      </div>
    </div>
</div>
