<section class="page-title">
  <h1>Create a new Artist Statement for <%= current_user.name %>!</h1>
</section>

<div class="quicknav-content">
  <%= link_to  'admin dashboard', admin_dashboard_index_path %> / <%= link_to  'my artist statements', "/admin/user/artist_statement" %> / <%= link_to "#{ current_user.name }", "/admin/users/#{current_user.id}" %>
</div><br>

<section class="admin-artist-statement-new">
  <%= form_tag "/admin/user/#{current_user.id}/artist_statement", method: 'post', :class => 'admin-form-inline' do %>
      <%= text_area_tag :statement, nil, rows: 20, cols: 50, class: 'admin-form-inline', placeholder: 'your artist statement' %>
      <%# <!-- <%= hidden_field_tag "#{@artist.id}" %>

      <section class="admin-new-artist-statment-button">
        <%= submit_tag 'Add Artist Statement' %>
      </section>
  <% end %>
</section>
