<section class="page-title">
  <h1>Edit Commissioned Map for <%= @commission_blooming_map.customer_name %></h1>
</section>

<div class="quicknav-content">
  <%= link_to  'admin dashboard', admin_dashboard_index_path %> / <%= link_to "commissioned work for #{@commission_blooming_map.customer_name}", admin_commission_blooming_map_path(@commission_blooming_map) %> / <%= link_to "all commissioned maps", admin_commission_blooming_maps_path %>
</div><br>

<section class="commission-layout-edit">
  <section class="commission-form">
    <%= form_for ([:admin, @commission_blooming_map]) do |f| %>
      <section class="commission-payment-status">
        <%= f.label 'Payment Status' %><br>
        <%= radio_button('commission_blooming_map', 'commission_payment', 'not_paid') %>
        <%= f.label 'Not paid' %>
        <%= radio_button('commission_blooming_map', 'commission_payment', 'deposit_paid') %>
        <%= f.label 'Deposit paid' %>
        <%= radio_button('commission_blooming_map', 'commission_payment', 'paid_in_full') %>
        <%= f.label 'Paid in full' %><br><br>
      </section>
      <section class="commission-customer-details-edit">
        <%= f.label 'Customer name: '%><br>
        <%= f.text_field :customer_name %><br>

        <%= f.label 'Customer email: '%><br>
        <%= f.text_field :customer_email %><br>

        <%= f.label 'Customer phone: '%><br>
        <%= f.text_field :customer_phone %><br>

        <%= f.label 'Customer message to Maker: '%><br>
        <%= f.text_area :message, :cols => 50, :rows => 20 %><br>
        <!-- ______________________________________________________________________ -->
      </section>

      <section class="commission-map-details-edit">
        <%= f.label 'Selected city: '%><br>
        <%= f.text_field :map_city %><br>

        <%= f.label 'Selected state: '%><br>
        <%= f.text_field :map_state %><br>

        <%= f.label 'Selected country: '%><br>
        <%= f.text_field :map_country %><br>

        <%= f.label 'Selected flower: '%><br>
        <%= f.text_field :map_flower %><br>

        <%= f.label 'Selected colors: '%><br>
        <%= f.text_field :map_color %><br>

        <%= f.label 'Price: ' %><br>
        <%= f.number_field :price, value: number_to_currency(f.object.price, delimiter: '', unit: ''), step: :any %>
      </section>

      <section class="commission-notes">
        <%= f.label 'Notes: ' %><br>
        <%= f.text_area :notes, :cols => 50, :rows => 20, placeholder: 'A place to keep notes about the Commissioned Work' %><br>
      </section>

      <section class="commission-work-status">
        <%= f.label 'Commissioned Work Status' %><br>
        <%= radio_button('commission_blooming_map', 'commission_status', 'not_started') %>
        <%= f.label 'Not started' %>
        <%= radio_button('commission_blooming_map', 'commission_status', 'started') %>
        <%= f.label 'Started' %>
        <%= radio_button('commission_blooming_map', 'commission_status', 'finished') %>
        <%= f.label 'Finished' %>
        <%= radio_button('commission_blooming_map', 'commission_status', 'delivered') %>
        <%= f.label 'Delivered' %>
      </section>


      <%= f.submit 'Save details' %>
    <% end %>

  </section>
</section>
