<section class="page-title">
  <h1>Commissioned Maps</h1>
</section>

<div class="quicknav-content">
  <%= link_to  'admin dashboard', admin_dashboard_index_path %>
</div><br>

<h3>Total Number of Commissions: <%= @commissions.count %></h3>
<h3>Number of Commissions Completed: <%= @commissions.total_finished %></h3><br>

<table>
  <thead>
    <tr>
      <th>Link to Customer Name</th>
      <th>Link to Edit</th>
      <th>Link to Delete</th>
      <th>Blooming Map Cost</th>
      <th>Commission Status</th>
      <th>Commission Payment</th>
      <th>Completion Date</th>
      <th>Customer Email</th>
      <th>Customer Phone</th>
      <!-- <th>Message</th> -->
      <!-- <th>Map City</th> -->
      <!-- <th>Map State</th> -->
      <!-- <th>Map Country</th> -->
      <!-- <th>Map Flower</th> -->
      <!-- <th>Map Color</th> -->
      <!-- <th>Notes</th> -->
      <th>Date of Commission</th>
    </tr>
  </thead>
  <tbody>
    <% if @commissions%>
      <% @commissions.each do |commission| %>
        <tr>
          <% if commission.commission_payment == 'not_paid'%>
            <!-- <section class="commission-not-paid"> -->
              <td><%= link_to "#{commission.customer_name}", admin_commission_blooming_map_path(commission), style: 'color: #c31717; text-decoration: none' %></td>
            <!-- </section> -->
          <% elsif commission.commission_payment == 'deposit_paid' %>
            <!-- <section class="commission-deposit_paid"> -->
              <td><%= link_to "#{commission.customer_name}", admin_commission_blooming_map_path(commission), style: 'color: #9715d6; text-decoration: none' %></td>
            <!-- </section> -->
          <% elsif commission.commission_payment == 'paid_in_full' %>
            <!-- <section class="commission-paid-in-full"> -->
              <td><%= link_to "#{commission.customer_name}", admin_commission_blooming_map_path(commission), style: 'color: #18d218; text-decoration: none' %></td>
            <!-- </section> -->
          <% else %>
          <% end %>
          <td><%= link_to 'Edit Commission', edit_admin_commission_blooming_map_path(commission), method: :get %></td>
          <td><%= link_to 'Delete Commission', admin_commission_blooming_map_path(commission), method: :delete %></td>
          <% if !commission.price.nil? %>
            <td><%= number_to_currency(commission.price)%></td>
          <% else %>
            <td>No price info</td>
          <% end %>
          <td><%= commission.get_readable_commission_status %></td>
          <td><%= commission.get_readable_commission_payment %></td>
          <% if commission.commission_status == 'delivered' %>
            <td><%= (commission.updated_at).strftime("%A, %d %b %Y") %></td>
          <% else %>
            <td>Commission is not completed yet</td>
          <% end %>
          <td><%= commission.customer_email %></td>
          <td><%= commission.customer_phone %></td>
          <%# <!-- <td><%= commission.message %>
          <%# <!-- <td><%= commission.map_city %>
          <%# <!-- <td><%= commission.map_state %>
          <%# <!-- <td><%= commission.map_country %>
          <%# <!-- <td><%= commission.map_flower %>
          <%# <!-- <td><%= commission.map_color %>
          <%# <!-- <td><%= commission.notes %>
          <td><%= (commission.created_at).strftime("%A, %d %b %Y") %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>There are no commissions for any BloomingMaps currently in the system! Check back soon!</tr>
    <% end %>
  </tbody>
</table><br>

<section class="commission-sales">
  <h3>Sub Total of Commission paid in full: <%= number_to_currency(@commissions.subtotal_paid_in_full) %></h3>
  <h3>Sub Total of Deposits (only) paid: <%= number_to_currency(@commissions.subtotal_deposits) %></h3>
  _________
  <h3>Running Total of Sales: <%= number_to_currency(@commissions.total_revenue) %></h3>
</section>
