<section class="page-title">
  <h1>Commissioned Map for <%= @commission_blooming_map.customer_name %></h1>
  <h5>Commissioned on <%= (@commission_blooming_map.created_at).strftime("%A, %d %b %Y") %></h5>
  <% if @commission_blooming_map.commission_status == 'delivered' %>
    <h5>Commission completed on <%= (@commission_blooming_map.updated_at).strftime("%A, %d %b %Y") %></h5>
  <% end %>
</section>

<div class="quicknav-content">
  <%= link_to  'admin dashboard', admin_dashboard_index_path %> / <%= link_to 'all commissioned maps', admin_commission_blooming_maps_path %>
</div><br>
<section class="commission-edit-show">
  <%= button_to "Edit Commissioned Work Info", edit_admin_commission_blooming_map_path, method: :get %>
</section>


<section class="commission-layout-show">
      <section class="commission-customer-details">
        <h3>Customer name: </h3><%= @commission_blooming_map.customer_name %><br><br>
        <h3>Customer email: </h3><%= @commission_blooming_map.customer_email %><br><br>
        <h3>Customer phone: </h3><%= @commission_blooming_map.customer_phone %><br><br>
        <h3>Customer message to Maker: </h3><p><%= @commission_blooming_map.message %></p>
        ______________________________________________________________________
      <!-- </section> -->

      <!-- <section class="commission-map-details"> -->
        <h2>Particulars about the Map</h2>
        <h3>Selected city: </h3><%= @commission_blooming_map.map_city %><br><br>
        <h3>Selected state: </h3><%= @commission_blooming_map.map_state %><br><br>
        <h3>Selected country: </h3><%= @commission_blooming_map.map_country %><br><br>
        <h3>Selected flower: </h3><%= @commission_blooming_map.map_flower %><br><br>
        <h3>Selected colors: </h3><%= @commission_blooming_map.map_color %><br>
      </section>

      <section class="commission-notes">
        <% if !@commission_blooming_map.price.nil?%>
          <h3>Price: </h3><%= number_to_currency(@commission_blooming_map.price) %><br><br>
          <h3>Deposit: </h3><%= number_to_currency(@commission_blooming_map.price / 2 ) %><br><br>
        <% end %>
        <h3>Payment Status:</h3><%= @commission_blooming_map.get_readable_commission_payment %><br><br>
        <h3>Commissioned Work Status:</h3><%= @commission_blooming_map.get_readable_commission_status %><br><br>
        <h3>Notes:</h3><%= @commission_blooming_map.notes %><br>
      </section>
  </section>
</section>
