<section class="page-title">
 <h1>Workshops</h1>
</section>

<div class="quicknav-content">
  <div class="quicknav-dropdown">
    <ul class="dropdown-row">
      <li class="page-collection">
        <%= link_to 'home', welcome_index_path %>
      </li>
      <li class="folder-collection">
        <div class="quicknav-menu-bar-container" hover="myFunction(this)">
          <%= link_to 'art', artwork_collections_path %>
        </div>
        <div class="quicknav-dropdown-content">
          <ul>
            <li class="page-collection">
              <%= link_to 'all art', artworks_path %>
            </li>
            <% Collection.find_artworks.map do |collection| %>
              <li class="page-collection">
                <%= link_to collection.name, "/artwork/collections/#{collection.id}" %>
              </li>
            <% end %>
          </ul>
        </div>
      </li>
      <li class="folder-collection">
        <div class="quicknav-menu-bar-container" hover="myFunction(this)">
          <%= link_to 'objects', physical_object_collections_path %>
        </div>
        <div class="quicknav-dropdown-content">
          <ul>
            <li class="page-collection">
              <%= link_to 'all objects', clothings_path %>
            </li>
            <% Collection.find_objects.map do |collection| %>
              <li class="page-collection">
                <%= link_to collection.name, "/physical_object/collections/#{collection.id}" %>
              </li>
            <% end %>
          </ul>
        </div>
      </li>
      <li class="folder-collection">
        <div class="quicknav-menu-bar-container" hover="myFunction(this)">
          <%= link_to 'student works', student_works_path %>
          <!-- <p>student works</p> -->
        </div>
        <div class="quicknav-dropdown-content">
          <ul>
            <li class="page-collection">
              <%= link_to 'adult student works', adult_student_work_student_works_path %>
            </li>
            <li class="page-collection">
              <%= link_to 'youth student works', youth_student_work_student_works_path %>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="classroom-container-index">
  <div class="classrooms-layout">
    <div class="classroom-initial-information-text">
      <p>Some information to share</p>
      <p>Even more information to share</p>
    </div>
    <% if !@classrooms.empty? %>
      <div class="classroom-row-index">
        <% @classrooms.each do |classroom| %>
          <div class="classroom-column-index">
            <div class="classroom-border-index">
              <div class="classroom-header-index">
                <h2><%= classroom.name %></h2>
              </div>
              <div class="classroom-card-index">
                <% if classroom.active && classroom.photos.attached? %>
                  <p class="classroom-image"><%= link_to(image_tag(classroom.photos.first), classroom_path(classroom), id: 'classroom') %></p>
                <% elsif classroom.active && !classroom.photos.attached? %>
                  <p class="classroom-no-image"><%= link_to 'Image coming soon!', classroom_path(classroom), id: 'classroom' %></p>
                <% elsif !classroom.active && !classroom.photos.attached? %>
                  <p class="classroom-no-image">Workshop is unavailable</p>
                <% else %>
                  <p class="classroom-image"><%= image_tag(classroom.image) %></p>
                <% end%>
                <div class="classroom-text-index">
                  <div class="classroom-details-index"><h3>Date: </h3></div>
                  <div class="classroom-details-index"><%= (classroom.date).strftime("%A, %d %b %Y") %></div><br>
                  <div class="classroom-details-index"><h3>Time: </h3></div>
                  <div class="classroom-details-index"><%= (classroom.time).strftime("%I : %M %p" ) %></div><br>
                  <div class="classroom-details-index"><h3>Location: </h3></div>
                  <div class="classroom-details-index"><%= classroom.location %></div><br>
                  <div class="classroom-details-index"><h3>Cost: </h3></div>
                  <div class="cost"><%= number_to_currency(classroom.cost) %></div><br>
                </div>

              </div>
            </div>
              <br>
          </div>
        <% end %>
      </div>
    <% else %>
      <h3>There are no workshops available at this time! Check back soon!</h3>
    <% end %>
  </div>
  <div class="classroom-addtional-options">
    <section class="classroom-additional-options-title">
      <h3>Additional Options</h3>
    </section>
    <p class="classroom-additional-options-text">Here are some options for additional workshops</p>
    <p class="classroom-additional-options-text">Here are some more options for additional workshops</p>
  </div>
</div>
