section class="page-title">
  <h2><%= @tag.title %> Edit Page</h2>
</section>

<div class="quicknav-content">
  <%= link_to  'admin dashboard', admin_dashboard_index_path %> / <%= link_to "#{@tag.title}", "/admin/post/#{@post.id}/tags/#{@tag.id}" %> / <%= link_to "my student works", admin_tags_path %>
</div><br>
<%# <%= form_for ([:admin, @tag]) do |f| %>
<%= form_for [@tag], url: "/admin/posts/#{@post.id}/tags/#{@tag.id}/edit", method: :get do |f| %>

  <%= f.label 'Name of Tag: '%><br>
  <%= f.text_field :title %><br>

  <%= f.submit 'Update Tag' %>
<% end %>
