<section class="page-title">
  <h1>Art: By Collections</h1>
</section>
<div class="quicknav-content">

</div>

<div class="quicknav-content">
  <div class="quicknav-dropdown">
    <ul class="dropdown-row">
      <li class="page-collection">
        <%= link_to 'home', welcome_index_path %>
      </li>
      <li class="folder-collection">
        <div class="quicknav-menu-bar-container" hover="myFunction(this)">
          <%= link_to 'art', artwork_collections_path %>
        </div>
        <div class="quicknav-dropdown-content">
          <ul>
            <li class="page-collection">
              <%= link_to 'all art', artworks_path %>
            </li>
            <% Collection.find_artworks.map do |collection| %>
              <li class="page-collection">
                <%= link_to collection.name, "/artwork/collections/#{collection.id}" %>
              </li>
            <% end %>
          </ul>
        </div>
      </li>
      <li class="folder-collection">
        <div class="quicknav-menu-bar-container" hover="myFunction(this)">
          <%= link_to 'objects', physical_object_collections_path %>
        </div>
        <div class="quicknav-dropdown-content">
          <ul>
            <li class="page-collection">
              <%= link_to 'all objects', clothings_path %>
            </li>
            <% Collection.find_objects.map do |collection| %>
              <li class="page-collection">
                <%= link_to collection.name, "/physical_object/collections/#{collection.id}" %>
              </li>
            <% end %>
          </ul>
        </div>
      </li>
      <li class="folder-collection">
        <div class="quicknav-menu-bar-container" hover="myFunction(this)">
          <%= link_to 'student works', student_works_path %>
        </div>
        <div class="quicknav-dropdown-content">
          <ul>
            <li class="page-collection">
              <%= link_to 'adult student works', adult_student_work_student_works_path %>
            </li>
            <li class="page-collection">
              <%= link_to 'youth student works', youth_student_work_student_works_path %>
            </li>
          </ul>
        </div>
      </li>
      <li class="page-collection">
        <%= link_to 'workshops', classrooms_path %>
      </li>
      <li class="folder-collection">
        <div class="quicknav-menu-bar-container" hover="myFunction(this)">
          <%= link_to 'blog posts', blog_posts_path %>
        </div>
        <div class="quicknav-dropdown-content">
          <ul>
            <% BlogPost.format_monthly_blog_date.uniq.map do |month_of_post| %>
              <li class="page-collection">
                <%= link_to month_of_post[0], "/blog_posts/monthly_blogs/#{month_of_post[1]}/#{month_of_post[2]}" %>
              </li>
            <% end %>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="artwork-collections-layout-index">
  <section class='artwork-collection-row-index'>
    <section class="artwork-collection-types-index">
      <% @collections.each do |collection| %>
        <% if !collection.artworks.empty?%>
          <section class="artwork-collection-column-index">
            <section class="artwork-collection-title-index">
              <p><%= link_to "#{collection.name}", artwork_collection_path(collection), method: :get %></p>
            </section>
            <div class="artwork-collection-about-text-index">
              <p>Some words about each collection of art.</p>
            </div>
            <section class="artwork-collection-card-index">
              <section class="artwork-collections-index">
                <section class="artwork-collections-column-index">
                  <section class="outlayer-image-one">
                    <%= image_tag 'Poppies.png' %>
                  </section>
                  <% collection.artworks.each do |artwork| %>
                    <% if artwork.photos.attached? %>
                      <section class="artwork-collection-artwork-card-index">
                        <% if artwork.photos.count >= 2%>
                            <%# <% artwork.photos.map do |photo| %>
                            <!-- <div class="bg-image hover-overlay hover-zoom hover-shadow ripple"> -->
                              <%# <%= link_to image_tag(artwork.photos.second, style: 'height:10em;width:10em'), artwork_path(artwork) %>
                              <!-- <a href="#!"> -->
                                <!-- <div class="mask" style="background-color: rgba(57, 192, 237, 0.2)"></div> -->
                              <!-- </a> -->
                            <!-- </div> -->
                              <div class="artwork-collection-artwork-card-image-closed-box-index">
                                <%= image_tag(artwork.photos.first, style: 'height:10em;width:10em') %>
                                <%# <%= image_tag(photo, style: 'height:10em;width:10em') %>
                              </div>
                              <div class="artwork-collection-artwork-card-image-open-box-index">
                                <%= image_tag(artwork.photos.second, style: 'height:10em,width:10em') %>
                              </div>
                            <%# <% end %>
                        <% else %>
                          <section class="artwork-collection-artwork-card-image-index">
                            <%= image_tag(artwork.photos.first, style: 'height:10em;width:10em') %>
                          </section>
                        <% end %>
                        <section class="artwork-collection-artwork-card-title-index">
                          <h3><%= link_to artwork.name, artwork_path(artwork) %></h3>
                        </section>
                      </section>
                    <% else %>
                      <section class="artwork-collection-artwork-card-index">
                        <section class="artwork-collection-artwork-card-image-no-image-index">
                          <p style="text-align: center;">Image coming soon!</p>
                        </section>
                        <section class="artwork-collection-artwork-card-title-index">
                          <h3><%= link_to artwork.name, artwork_path(artwork) %></h3>
                        </section>
                      </section>
                    <% end %>
                  <% end  %>
                </section>
              </section>
            </section>
          </section>
        <% end %>
    </section>
      <% end %>
      <br>
  </section>
</div>
