<section class="page-title">
  <h1><%= @collection.name %></h1>
</section>

<div class="quicknav-content">
  <div class="quicknav-dropdown">
    <ul class="dropdown-row">
      <li class="page-collection">
        <%= link_to 'home', welcome_index_path %>
      </li>
      <li class="folder-collection">
        <div class="quicknav-menu-bar-container" hover="myFunction(this)">
          <%= link_to 'art', artwork_collections_path %>
        </div>
        <div class="quicknav-dropdown-content">
          <ul>
            <li class="page-collection">
              <%= link_to 'all art', artworks_path %>
            </li>
            <% if @collection.name == '100 Day Project: Maps'%>
              <li class="page-collection">
                <%= link_to '100 Day Project: Embroidery', "/artwork/collections/3" %>
              </li>
            <% elsif @collection.name == '100 Day Project: Embroidery' %>
              <li class="page-collection">
                <%= link_to '100 Day Project: Maps', "/artwork/collections/1" %>
              </li>
            <% end %>
          </ul>
        </div>
      </li>
      <li class="folder-collection">
        <div class="quicknav-menu-bar-container" hover="myFunction(this)">
          <%= link_to 'objects', physical_object_collections_path %>
        </div>
        <div class="quicknav-dropdown-content">
          <ul>
            <li class="page-collection">
              <%= link_to 'all objects', clothings_path %>
            </li>
            <li class="page-collection">
              <%= link_to 'Garments', "/physical_object/collections/5" %>
            </li>
          </ul>
        </div>
      </li>
      <li class="page-collection">
        <%= link_to 'workshops', classrooms_path %>
      </li>
    </ul>
  </div>
</div>

<div class="artwork-collection-layout-show">
    <div class="artwork-collection-container-show">
      <div class="artwork-collection-container-row-show">
        <% @collection.artworks.each do |artwork| %>
          <!-- <div class="collection-artwork-column"> -->
            <%# <% binding.pry %>
            <div class="artwork-collection-card-show">
              <div class="artwork-collection-artwork-header-show">
                <%= link_to "#{ artwork.name }", "/artworks/#{ artwork.id }", method: :get %><br>
              </div>
                <% if artwork.photos.attached? %>
                  <div class="artwork-collection-artwork-image-show">
                    <%= link_to image_tag(artwork.photos.first), "/artworks/#{ artwork.id }", method: :get %><br>
                  </div>
                <% else %>
                  <div class="artwork-collection-artwork-no-image-show">
                    <%= link_to 'Image coming soon!', "/artworks/#{ artwork.id }", method: :get, style: 'font-alighn: center' %><br>
                  </div>
                <% end %>
              <div class="artwork-collection-artwork-cost-show">
                <%= number_to_currency(artwork.cost) %><br>
              </div>
            </div>
          <!-- </div> -->
        <% end %>
      </div>
    </div>
</div>
