<section class="page-title">
  <h1>Welcome, <%= @user.first_name %> to the Administration Dashboard!</h1>
</section>

<section class="admin-info">
  <p>Here is the place to add and update aspects of Quiet Joy Studio.</p>
</section>

<div class="quicknav-content">
  <% if (CommissionBloomingMap.find_all_unfinished_commissed_maps == 0) && (Contact.message_status_unread.count == 0) %>
  <%= link_to "messages", "/admin/contacts/#{current_user.id}/messages" %> / <%= link_to  "my commissions", admin_commission_blooming_maps_path %>
  <% elsif (CommissionBloomingMap.find_all_unfinished_commissed_maps > 0) && (Contact.message_status_unread.count == 0) %>
  <%= link_to "messages", "/admin/contacts/#{current_user.id}/messages" %> / <%= link_to  "my commissions(#{CommissionBloomingMap.find_all_unfinished_commissed_maps})", admin_commission_blooming_maps_path, style: 'color: red' %>
  <% elsif (CommissionBloomingMap.find_all_unfinished_commissed_maps == 0) && (Contact.message_status_unread.count > 0)%>
  <%= link_to "messages(#{Contact.message_status_unread.count})", "/admin/contacts/#{current_user.id}/messages", style: 'color: red' %> / <%= link_to  "my commissions", admin_commission_blooming_maps_path %>
  <% else %>
  <%= link_to "messages(#{Contact.message_status_unread.count})", "/admin/contacts/#{current_user.id}/messages", style: 'color: red' %> / <%= link_to  "my commissions(#{CommissionBloomingMap.find_all_unfinished_commissed_maps})", admin_commission_blooming_maps_path, style: 'color: red' %>
  <% end %>
</div><br>
<div class="quicknav-content">
  <%= link_to  'my art', admin_artworks_path %> / <%= link_to  'my collections', admin_collections_path %> / <%= link_to  'my garments', admin_clothings_path %> / <%= link_to  'my student works', admin_student_works_path %> / <%= link_to  'my workshops', admin_classrooms_path %>
</div><br>
<div class="quicknav-content">
  <%= link_to  'all users', admin_users_path %> / <%= link_to  'my email list', admin_emails_path %>
</div><br>
<div class="quicknav-content">
  <%= link_to  'my faqs', admin_frequently_asked_questions_path %>
</div><br>
<div class="quicknav-content">
  <% if current_user.artist_statement %>
    <%= link_to 'my artist statement', "/admin/user/#{current_user.id}/artist_statements/#{current_user.artist_statement.id}" %> / <%= link_to  'my artwork statements', admin_art_artwork_statement_path %> /<%= link_to 'my artist stories', "/admin/user/artist_stories" %>
  <% else %>
    <%= link_to  'my artwork statements', admin_art_artwork_statement_path %> / <%= link_to 'my artist stories', "/admin/user/artist_stories" %>
  <% end %>
</div><br>
<div class="quicknav-content">
  <%= link_to  'my blog posts', admin_blog_posts_path %>
</div><br>



<div class="admin-dashboard-layout">
  <ul>
    <li>
      <section class="admin-dashboard-art-layout">
        <% @artworks.each do |artwork| %>
          <% if artwork.photos.attached? %>
            <section class="admin-dashboard-art-card">
              <p class="admin-dashboard-art-image"><%= link_to image_tag(artwork.photos.first), admin_artwork_path(artwork) %></p>
              <section class="admin-dashboard-art-name">
                <%= artwork.name %>
              </section>
            </section>
          <% else %>
            <section class="admin-dashboard-art-card">
              <p class="admin-dashboard-art-image-no-image"><%= link_to artwork.name, admin_artwork_path(artwork), style: 'color: white'%></p>
              <!-- <section class="admin-dashboard-art-name">
                <%# <%= artwork.name %> %>
              </section> -->
            </section>
          <% end %>
        <% end %>
      </section>
      <section class="all-my-art-button">
        <p class="admin-dashboard-art-button"><%= button_to 'My Art', admin_artworks_path, method: :get  %></p>
      </section>
    </li>
    <li>
      <section class="admin-dashboard-garment-layout">
        <% @clothings.each do |clothing| %>
          <% if clothing.photos.attached? %>
            <section class="admin-dashboard-garment-card"
              <p class="admin-dashboard-garment-image"><%= link_to image_tag(clothing.photos.first), admin_clothing_path(clothing) %></p>
              <section class="admin-dashboard-garment-name">
                <%= clothing.name %>
              </section>
            </section>
          <% else %>
              <p class="admin-dashboard-garment-image-no-image"><%= link_to 'Image coming soon!', admin_clothing_path(clothing), style: 'color: white' %></p>
          <% end %>
        <% end %>
      </section>
      <section class="all-my-garments-button">
        <p class="admin-dashboard-garment-button"><%= button_to 'My Objects', admin_clothings_path, method: :get %></p>
      </section>
    </li>
    <li>
      <section class="admin-dashboard-workshop-layout">
        <% @classrooms.each do |classroom| %>
          <% if classroom.photos.attached? %>
            <section class="admin-dashboard-workshop-card"
              <p class="admin-dashboard-workshop-image"><%= link_to image_tag(classroom.photos.first), admin_classroom_path(classroom) %></p>
              <section class="admin-dashboard-workshop-name">
                <%= classroom.name %>
              </section>
            </section>
          <% elsif classroom.image.attached? %>
            <section class="admin-dashboard-workshop-card"
              <p class="admin-dashboard-workshop-image"><%= link_to image_tag(classroom.image), admin_classroom_path(classroom) %></p>
              <section class="admin-dashboard-workshop-name">
                <%= classroom.name %>
              </section>
            </section>
          <% else %>
            <p class="admin-dashboard-workshop-image-no-image"><%= link_to 'Image coming soon!', admin_classroom_path(classroom), style: 'color: white'%></p>
          <% end %>
        <% end %><br>
      </section>
      <section class="all-my-workshops-button">
        <%= button_to 'My Workshops', admin_classrooms_path, method: :get  %>
      </section>
    </li>
  </ul>

</div>
