<h1>Welcome, <%= @user.name %> to the Administration Dashboard!</h1>
<p>Here is the place to add and update aspects of the website.</p>

<section class="garment-layout">
  <% @clothings.each do |clothing| %>
    <p class="garment-image"><%= image_tag(clothing.image) %></p>
  <% end %>
  <p><%= button_to 'My Garments', admin_clothings_path, method: :get %></p>
</section>

<section class="art-layout">
  <% @artworks.each do |artwork| %>
    <p class="art-image"><%= image_tag(artwork.image) %></p>
  <% end %>
  <p><%= button_to 'My Art', admin_artworks_path, method: :get  %></p>
</section>

<section class="workshop-layout">
  <% @classrooms.each do |classroom| %>
    <p class="workshop-image"><%= image_tag(classroom.image) %></p>
  <% end %>
  <p><%= button_to 'My Workshops', admin_classrooms_path, method: :get  %></p>
</section>
<p><%= button_to 'Email List', admin_emails_path, method: :get  %></p>
