You got a message from <%= @contact.customer_email_address %>!
Subject: <%= @contact.subject %></p>
===============================================

Message:
--------------------------

Name: <%= @contact.name %>
Email: <%= @contact.customer_email_address %>

Message:
<%= @contact.message %>
