<section class="page-title">
  <h1>Objects</h1>
</section>

<div class="quicknav-content">
  <%= link_to 'home', welcome_index_path %> / <%= link_to 'art', artworks_path, method: :get %> / <%= link_to 'workshops', classrooms_path, method: :get %>
</div>

<div class="clothings-layout">
  <div class="clothing-row">
    <% if !@clothings.empty? %>
      <% @clothings.each do |clothing| %>
        <div class="clothing-column">
      <!-- <div class="clothing-container"> -->
          <div class="clothing-border">
            <div class="clothing-header">
              <h2><%= clothing.name %></h2>
            </div>
          <% if clothing.available && clothing.photos.attached? %>
            <p class="clothing-image"><%= link_to image_tag(clothing.photos.first), clothing_path(clothing), id: 'clothing' %></p>
          <% elsif clothing.available && !clothing.photos.attached? %>
            <p class="clothing-image"><%= link_to 'Image coming soon!', clothing_path(clothing), id: 'clothing' %></p>
          <% elsif !clothing.available && clothing.photos.attached? %>
            <p class="clothing-image"><%= image_tag(clothing.photos.first) %></p>
          <% else %>
            <p class="clothing-image">Garment Unavailable</p>
          <% end %>
          <!-- <h3>Description: <%= clothing.description %></h3> -->
            <div class="clothing-text">
              <h3>This garment is <div class="availability"><%= clothing.availability? %></div></h3>
              <% if clothing.available %>
                <h5>Click the picture for more details!</h5>
                <h3>Cost: <div class="cost"><%= number_to_currency(clothing.cost) %></div></h3>
              <% else %>
                <h5>It was so popular, we don't have any more at this time. Check back soon for more inventory.</h5>
              <% end %>
            </div>
          </div>
        </div>
          <br>
      <% end %>
    <% else %>
      <h3>There are no garments available at this time! Check back soon!</h3>
    <% end %>
  </div>
</div>
