<h1><%= @clothing.name %></h1>

<div class="clothing-container">
  <div class="clothing-description-container">
    <section class="clothing-description">
      <%= @clothing.description %>
    </section>
  </div>

  <!-- <div class="clothing-date-container">
    <section class="clothing-date">
      <%# <%= (@clothing.date).strftime("%A, %b %d %Y") %> %>
    </section>
  </div> -->

  <!-- <div class="clothing-time-container">
    <section class="clothing-time">
      <%# <%= (@clothing.time).strftime("%I : %M %p" ) %> %>
    </section>
  </div> -->

  <!-- <div class="clothing-location-container">
    <section class="clothing-location">
      <%# <%= @clothing.location %> %>
    </section>
  </div> -->

  <div class="clothing-cost-container">
    <section class="clothing-cost">
      <%= number_to_currency(@clothing.cost) %>
    </section>
  </div>
</div>

<!-- <button type "submit" class="btn btn-outline-info" aria-pressed="true">Enroll</button> -->
<%= button_to 'Buy Me!', "/cart/clothing/#{@clothing.id}", method: :post %>
