<section class="page-title">
  <h2><%= @classroom.name %> Add Photos</h2>
</section>

<div class="quicknav-content">
  <%= link_to  'admin dashboard', admin_dashboard_index_path %>  /  <%= link_to "#{@classroom.name}", admin_classroom_path(@classroom) %> /  <%= link_to 'my garments', admin_classrooms_path %>
</div><br>

<%= form_for([:admin, @classroom], url: { action: "photo_update" }) do |f| %>
  <%= f.label 'Image of Artwork: '%><br>
  <%= f.file_field :photos %><br>

  <%= f.submit 'Add Photo' %>
<% end %>
