<section class="page-title">
  <h2><%= @classroom.name %> Edit Page</h2>
</section>

<%= form_for ([:admin, @classroom]) do |f| %>

  <%= f.label 'Name of Workshop: '%><br>
  <%= f.text_field :name %><br>

  <%= f.label 'Description of Workshop: '%><br>
  <%= f.text_field :description %><br>

  <%= f.label 'Date of Workshop: '%><br>
  <%= f.date_field :date %><br>

  <%= f.label 'Time of Workshop: '%><br>
  <%= f.time_field :time %><br>
  <br>
  <%= f.label 'Location of Workshop: '%><br>
  <%= f.text_field :location %><br>

  <%= f.label 'Workshop is available (yes/no): ' %>
  <%= f.label 'Yes'%>
  <%= f.radio_button :active, true %>
  <%= f.label 'No'%>
  <%= f.radio_button :active, false %><br>
  <br>
  <%= f.label 'Cost: '%><br>
  <%= f.number_field :cost, value: number_to_currency(f.object.cost.to_f, delimiter: '', unit: ''), step: :any %><br>

  <%= f.label 'Image for Workshop: '%><br>
  <%= f.file_field :image %>
  <br>
  <br>
  <%= f.submit 'Update Workshop' %>
<% end %>
