<section class="page-title">
  <h2><%= @classroom.name %> Edit Page</h2>
</section>

<div class="quicknav-content">
  <%= link_to  'admin dashboard', admin_dashboard_index_path %>  / <%= link_to  "#{@classroom.name}", admin_classroom_path(@classroom) %> / <%= link_to  'my workshops', admin_classrooms_path %>
</div><br>

<section class="admin-classroom-layout-edit">
  <section class="admin-classroom-card-edit">
    <section class="admin-classroom-image-edit">
      <% if @classroom.photos.attached? %>
        <p><%= image_tag(@classroom.photos.first) %></p>
      <% else %>
        <p>There isn't an image uploaded, yet!</p>
      <% end %>
    </section>
    <section class="admin-classroom-form-edit">
      <%= form_for ([:admin, @classroom]) do |f| %>

        <%= f.label 'Name of Workshop: '%><br>
        <%= f.text_field :name %><br>

        <%= f.label 'Description of Workshop: '%><br>
        <%= f.text_area :description, rows: 10, cols: 30 %><br>

        <%= f.label 'Date of Workshop: '%><br>
        <%= f.date_field :date %><br>

        <%= f.label 'Time of Workshop: '%><br>
        <%= f.time_field :time %><br>
        <br>
        <%= f.label 'Location of Workshop: '%><br>
        <%= f.text_field :location %><br>

        <%= f.label 'Workshop is available (yes/no): ' %>
        <%= f.label 'Yes'%>
        <%= f.radio_button :active, true %>
        <%= f.label 'No'%>
        <%= f.radio_button :active, false %><br>
        <br>
        <%= f.label 'Cost: '%><br>
        <%= f.number_field :cost, value: number_to_currency(f.object.cost.to_f, delimiter: '', unit: ''), step: :any %><br>

        <%# <%= f.label 'Add required tools to the Workshop' %>
        <%# <%= f.select :tools_needed, options_for_select(["Sewing Machine", "Crochet Hooks", "Sewing Needles", "Yarn", "Fabric", "Elastic"]), include_blank: true, mulitple: true %>

        <%# <%= f.label 'Add requirements for the Workshop' %>
        <%# <%= f.select :requirements, options_from_collection_for_select(@classrooms, "id", "name"), include_blank: true, multiple: true %>

        <%= f.label 'Image for Workshop: '%><br>
        <%= f.file_field :photos %>


        <br>
        <br>
        <%= f.submit 'Update Workshop' %>
      <% end %>
    </section>
  </section>
</section>
