<section class="page-title">
  <h1>Create a new Workshop!</h1>
</section>

<h3><%= link_to 'My Workshops', '/admin/classrooms' %></h3>

<%= form_tag '/admin/classrooms', multipart: true  do %>
  <%= label_tag 'Name of Workshop: '%><br>
  <%= text_field_tag :name %><br>

  <%= label_tag 'Description of Workshop: '%><br>
  <%= text_field_tag :description %><br>

  <%# <%= label_tag 'Image for the Workshop: '%>
  <%# <%= text_field_tag :image %>


  <%= label_tag 'Date of Workshop: '%><br>
  <%= date_field_tag :date %><br>
  <br>
  <%= label_tag 'Time of Workshop: '%><br>
  <%= time_field_tag :time %><br>
  <br>
  <%= label_tag 'Location for the Workshop: '%><br>
  <%= text_field_tag :location %><br>

  <%= label_tag 'Cost: '%><br>
  <%= number_field_tag :cost, nil, min: 1, max: 100000, placeholder: '$' %><br>
  <br>
  <%= label_tag 'Workshop is available (yes/no): '%>
  <%= label_tag 'Yes'%>
  <%= radio_button_tag :active, true %>
  <%= label_tag 'No'%>
  <%= radio_button_tag :active, false %><br>
  <br>

  <%= label_tag 'Add required tools to the Workshop' %>
  <%# select("post", "person_id", Person.all.collect { |p| [ p.name, p.id ] }, { prompt: 'Select Person' }) %>
  <%# <%= select_tag :tools, raw("<option>Sewing Machine</option>,<option>Crochet Hooks</option>,<option>Sewing Needles</option>"), mulitple: true %>
  <%= select_tag :tools, options_for_select(["Sewing Machine", "Crochet Hooks", "Sewing Needles", "Yarn", "Fabric", "Elastic"]), include_blank: true %><br>
  <%# <%= select_tag :tools, options_from_collection_for_select(@tools, "name")%>
  <%# .map {|tool| [tool.name, tool.id] } %>
  <%# , { 'data-url' => admin_tool_path(tool: tool.id) } %>
  <%= label_tag 'Add requirements for the Workshop' %><br>
  <%= select_tag :requirement, options_from_collection_for_select(@classrooms, "id", "name"), include_blank: true %><br>


  <%= label_tag 'Image for Workshop: '%><br>
  <%= file_field_tag :image %>
  <%# # <%= file_field_tag :photo  %>
  <br>
  <br>
  <%= submit_tag 'Submit Workshop' %>
<% end %>
