<section class="page-title">
  <h2>All the FAQ's</h2>
</section>

<div class="quicknav-content">
  <%= link_to  'admin dashboard', admin_dashboard_index_path %>
</div><br>

<h3>Total Number of FAQ's: <%= FrequentlyAskedQuestion.total_frequently_asked_questions %></h3>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Answer</th>
      <th>Link to Edit</th>
      <th>Link to Delete</th>
    </tr>
  </thead>
  <tbody>
    <% if @faqs %>
      <% @faqs.each do |faq| %>
      <tr>
        <td><%= link_to "#{faq.question}", admin_frequently_asked_question_path(faq) %></td>
        <td><%= faq.answer %></td>
        <td><%= link_to 'Edit FAQ', edit_admin_frequently_asked_question_path(faq) %></td>
        <td><%= button_to 'Delete', "/admin/frequently_asked_questions/#{faq.id }", method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
      <% end %>
  </tbody>
  <% else %>
  <tr>There are no FAQ's currently in the system! Please add some!</tr>
  <% end %>
</table>

<section class="new-faq-work-button">
  <p><%= button_to 'Add a FAQ', new_admin_frequently_asked_question_path, method: :get %></p>
</section>
