<section class="page-title">
  <h1>All Art</h1>
</section>

<div class="quicknav-content">
  <div class="quicknav-dropdown">
    <ul class="dropdown-row">
      <li class="page-collection">
        <%= link_to 'home', welcome_index_path %>
      </li>
      <li class="folder-collection">
        <div class="quicknav-menu-bar-container" hover="myFunction(this)">
          <%= link_to 'art collections', artwork_collections_path %>
        </div>
        <div class="quicknav-dropdown-content">
          <ul>
            <li class="page-collection">
              <%= link_to '100 Day Project: Maps', "/artwork/collections/1"%>
            </li>
            <li class="page-collection">
              <%= link_to '100 Day Project: Embroidery', "/artwork/collections/3"%>
            </li>
          </ul>
        </div>
      </li>
      <li class="folder-collection">
        <div class="quicknav-menu-bar-container" hover="myFunction(this)">
          <%= link_to 'objects', physical_object_collections_path %>
        </div>
        <div class="quicknav-dropdown-content">
          <ul>
            <li class="page-collection">
              <%= link_to 'all objects', clothings_path %>
            </li>
            <li class="page-collection">
              <%= link_to 'Garments', "/physical_object/collections/5" %>
            </li>
          </ul>
        </div>
      </li>
      <li class="page-collection">
        <%= link_to 'workshops', classrooms_path %>
      </li>
    </ul>
  </div>
</div>

<div class="artworks-layout-index">
  <% if !@artworks.empty? %>
    <section class="artwork-container-index">
      <div class="artwork-about-text-index">
        <p>Some words about what it means to have young adult students</p>
      </div>
      <section class="artwork-row-index">
        <% @artworks.each do |artwork| %>
          <section class="artwork-column-index">
            <section class="artwork-card-index">
              <section class="artwork-card-index-title">
                <h3><%= artwork.name %></h3>
              </section>
              <% if artwork.available && artwork.photos.attached? %>
                <section class="artwork-image">
                  <p><%= link_to(image_tag(artwork.photos.first), artwork_path(artwork), id: 'artwork') %></p>
                </section>
              <% elsif artwork.available && !artwork.photos.attached? %>
                <section class="artwork-image-no-image">
                  <p style="display: flex;"><%= link_to 'Image coming soon!', artwork_path(artwork), id: 'artwork' %></p>
                </section>
              <% elsif !artwork.available && artwork.photos.attached? %>
                <section class="artwork-image-special">
                  <p id='artwork'><%= image_tag(artwork.photos.first) %></p>
                </section>
              <% else %>
                <section class="artwork-image-no-image">
                  <p>Art is unavailable!</p>
                </section>
              <% end %>
              <!-- <div class="artwork-availability"><h4>This piece is <%= artwork.availability? %></h4></div> -->
              <%# <% if artwork.available %>
                <!-- <h5>Click the picture for more details!</h5> -->
                <h3>Cost: <div class="cost"><%= number_to_currency(artwork.cost) %></div></h3>
              <%# <% else %>
                <!-- <h5>Someone else was able to snatch this beauty up!</h5> -->
              <%# <% end %>
            </section>
          </section>
        <br>
        <% end %>
      </section>
    </section>
  <% else %>
    <h3>There are no garments available at this time! Check back soon!</h3>
  <% end %>
</div>
