<section class="page-title">
  <h1>All Art</h1>
</section>

<div class="quicknav-content">
  <div class="quicknav-dropdown">
    <ul class="dropdown-row">
      <li class="page-collection">
        <%= link_to 'home', welcome_index_path %>
      </li>
      <li class="folder-collection">
        <div class="quicknav-menu-bar-container" hover="myFunction(this)">
          <%= link_to 'art', artwork_collections_path %>
        </div>
        <div class="quicknav-dropdown-content">
          <ul>
            <li class="page-collection">
              <%= link_to 'art: by collection', artwork_collections_path %>
            </li>
            <li class="page-collection">
              <%= link_to 'all art', artworks_path %>
            </li>
            <% Collection.find_artworks.map do |collection| %>
              <li class="page-collection">
                <%= link_to collection.name, "/artwork/collections/#{collection.id}" %>
              </li>
            <% end %>
          </ul>
        </div>
      </li>
      <li class="folder-collection">
        <div class="quicknav-menu-bar-container" hover="myFunction(this)">
          <%= link_to 'objects', physical_object_collections_path %>
        </div>
        <div class="quicknav-dropdown-content">
          <ul>
            <li class="page-collection">
              <%= link_to 'objects: by collection', clothings_path %>
            </li>
            <li class="page-collection">
              <%= link_to 'all objects', clothings_path %>
            </li>
            <% Collection.find_objects.map do |collection| %>
              <li class="page-collection">
                <%= link_to collection.name, "/physical_object/collections/#{collection.id}" %>
              </li>
            <% end %>
          </ul>
        </div>
      </li>
      <li class="page-collection">
        <%= link_to 'workshops', classrooms_path %>
      </li>
      <li class="folder-collection">
        <div class="quicknav-menu-bar-container" hover="myFunction(this)">
          <%= link_to 'blog posts', blog_posts_path %>
        </div>
        <div class="quicknav-dropdown-content">
          <ul>
            <% BlogPost.format_monthly_blog_date.uniq.map do |month_of_post| %>
              <li class="page-collection">
                <%= link_to month_of_post[0], "/blog_posts/monthly_blogs/#{month_of_post[1]}/#{month_of_post[2]}" %>
              </li>
            <% end %>
          </ul>
        </div>
      </li>
      <li class="folder-collection">
        <div class="quicknav-menu-bar-container" hover="myFunction(this)">
          <%= link_to 'student works', student_works_path %>
        </div>
        <div class="quicknav-dropdown-content">
          <ul>
            <li class="page-collection">
              <%= link_to 'all student works', student_works_path %>
            </li>
            <li class="page-collection">
              <%= link_to 'adult student works', adult_student_work_path %>
            </li>
            <li class="page-collection">
              <%= link_to 'youth student works', youth_student_work_path %>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="artworks-layout-index">
  <% if !@artworks.empty? %>
    <section class="artwork-container-index">
      <div class="artwork-about-text-index">
        <p>Some words about what it means to have young adult students</p>
      </div>
      <section class="artwork-row-index">
        <% @artworks.each do |artwork| %>
          <section class="artwork-column-index">
            <section class="artwork-card-index">
              <section class="artwork-card-index-title">
                <h3><%= artwork.name %></h3>
              </section>
              <% if artwork.available && artwork.photos.attached? %>
                <section class="artwork-image">
                  <p><%= link_to(image_tag(artwork.photos.first), artwork_path(artwork), id: 'artwork') %></p>
                </section>
              <% elsif artwork.available && !artwork.photos.attached? %>
                <section class="artwork-image-no-image">
                  <p style="display: flex;"><%= link_to 'Image coming soon!', artwork_path(artwork), id: 'artwork' %></p>
                </section>
              <% elsif !artwork.available && artwork.photos.attached? %>
                <section class="artwork-image-special">
                  <p id='artwork'><%= image_tag(artwork.photos.first) %></p>
                </section>
              <% else %>
                <section class="artwork-image-no-image">
                  <p>Art is unavailable!</p>
                </section>
              <% end %>
                  <h3>Cost: <div class="cost"><%= number_to_currency(artwork.cost) %></div></h3>
            </section>
          </section>
        <br>
        <% end %>
      </section>
    </section>
  <% else %>
    <h3>There are no garments available at this time! Check back soon!</h3>
  <% end %>
</div>
