<section class="page-title">
  <h1><%= @artwork.name %></h1>
</section>

<div class="quicknav-content">
  <div class="quicknav-dropdown">
    <ul class="dropdown-row">
      <li class="page-collection">
        <%= link_to 'home', welcome_index_path %>
      </li>
      <li class="folder-collection">
        <div class="quicknav-menu-bar-container" hover="myFunction(this)">
          <%= link_to 'art', artwork_collections_path %>
        </div>
        <div class="quicknav-dropdown-content">
          <ul>
            <li class="page-collection">
              <%= link_to 'all art', artworks_path %>
            </li>
            <li class="page-collection">
              <%= link_to '100 Day Project: Embroidery', "/artwork/collections/3" %>
            </li>
            <li class="page-collection">
              <%= link_to '100 Day Project: Maps', "/artwork/collections/1" %>
            </li>
          </ul>
        </div>
      </li>
      <li class="folder-collection">
        <div class="quicknav-menu-bar-container" hover="myFunction(this)">
          <%= link_to 'objects', physical_object_collections_path %>
        </div>
        <div class="quicknav-dropdown-content">
          <ul>
            <li class="page-collection">
              <%= link_to 'all objects', clothings_path %>
            </li>
            <li class="page-collection">
              <%= link_to 'Garments', "/physical_object/collections/5" %>
            </li>
          </ul>
        </div>
      </li>
      <li class="page-collection">
        <%= link_to 'workshops', classrooms_path %>
      </li>
    </ul>
  </div>
</div>

<div class="artwork-container-show">
  <div class="artwork-image-container-show">
    <% if @artwork.photos.attached? %>
      <% @artwork.photos.map do |photo|%>
          <section class="artwork-image-show">
            <%= image_tag(photo) %>
          </section>
      <% end %>
    <% else %>
      <section class="artwork-no-image-show">
        <%= 'Image coming soon!' %>
      </section>
    <% end %>
  </div>

  <div class="artwork-description-container-show">
    <section class="artwork-description-show">
      <%= @artwork.description %>
    </section>
  </div>

  <div class="artwork-cost-container-show">
    <section class="artwork-cost-show">
      <%= number_to_currency(@artwork.cost) %>
    </section>
  </div>

  <div class="artwork-button-show">
    <%= button_to 'Buy Me!', "/cart/artwork/#{@artwork.id}", method: :post %>
  </div>
</div>
