<section class="page-title">
  <h1>All the Orders!</h1>
</section>

<div class="quicknav-content">
  <%= link_to  'admin dashboard', admin_dashboard_index_path %> / <%= link_to  'my art', admin_artworks_path %> / <%= link_to  'my workshops', admin_classrooms_path %>
</div><br>
<h3>Total Number of Orders: <%= @orders.count %></h3>
<%# <!-- <h3>Average Number of Items per Order: <%= @orders.total_sold %>
<%# <!-- <h3>Number of Orders Available for purchase: <%= @orders.total_available %>

<table>
  <thead>
    <tr>
      <th>Order Id</th>
      <th>Link to Edit</th>
      <th>Link to Delete</th>
      <th>User's Name</th>
      <th>Status</th>
      <!-- <th>OrderItem Ids</th> -->
      <!-- <th>Type Id</th> -->
      <!-- <th>Quantity</th> -->
      <th>Date of Order Placed</th>
      <th>Date of Order Fulfilled </th>
    </tr>
  </thead>
  <tbody>
    <% if @orders %>
      <% @orders.each do |order| %>
      <tr>
        <td><%= link_to "#{order.id}",  "/admin/orders/#{order.id}", method: :get%></td>
        <td><%= link_to 'Edit Order', "/admin/orders/#{order.id}/edit", method: :get %></td>
        <td><%= link_to 'Delete Order', "/admin/orders/#{order.id}", method: :delete %></td>
        <td><%= order.find_user.name %></td>
        <td><%= order.status %></td>
        <%# <!-- <td><%= order.url %>
        <%# <!-- <td><%= order.category %>
        <%# <!-- <td><%= order.availability? %>
        <td><%= (order.created_at).strftime("%A, %d %b %Y") %></td>
        <td><%= order.date_fulfilled %></td>
      </tr>
      <% end %>
    <% else %>
      <tr>There are no garmets currently in the system! Please add some!</tr>
    <% end %>
  </tbody>
</table>

<section class="new-order-button">
  <p><%= button_to 'Add a New Order', new_admin_order_path, method: :get  %></p>
</section>
