<section class="page-title">
  <h1>Edit your password:</h1>
</section>

<div class="quicknav-content">
  <%= link_to 'HOME', welcome_index_path %> / <%= link_to 'PROFILE', profile_path(@user), method: :get %>
</div>

<%= form_for @user do |f| %>
  <%= f.label :password %><br>
  <%= f.password_field :password %><br>

  <%= f.label :password_confirmation %><br>
  <%= f.password_field :password_confirmation %><br>

  <%= f.submit 'Change Password' %>
<% end %>
