<section class="page-title">
  <h1>Welcome to Karin's Community!</h1>
</section>

<div class="quicknav-content">
  <%= link_to 'home', welcome_index_path %> / <%= link_to 'artwork', artworks_path, method: :get %> / <%= link_to 'garments', clothings_path, method: :get %> / <%= link_to 'workshops', classrooms_path, method: :get %>
</div>

<h3>Please fill out this form!</h3>
<%= form_for @user do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>

  <%= f.label :address %><br>
  <%= f.text_field :address %><br>

  <%= f.label :city %><br>
  <%= f.text_field :city %><br>

  <%= f.label :state %><br>
  <%= f.text_field :state %><br>

  <%= f.label :zip %><br>
  <%= f.text_field :zip %><br>

  <%= f.label 'Your time zone: '%><br>
  <%= f.select :time_zone, options_for_select(ActiveSupport::TimeZone::MAPPING.map { |k, v| v }) %><br>

  <%= f.label :email %>
  <%= f.email_field :email %><br>

  <%= f.label :password %><br>
  <%= f.password_field :password %><br>

  <%= f.label :password_confirmation %><br>
  <%= f.password_field :password_confirmation %><br>

  <%= f.submit 'Register' %>
<% end %>
