<section class="page-title">
  <h1><%= @user.name %></h1>
</section>

<div class="quicknav-content">
  <%= link_to 'HOME', welcome_index_path %> / <%= link_to 'ARTWORK', artworks_path, method: :get %> / <%= link_to 'GARMENTS', clothings_path, method: :get %> / <%= link_to 'WORKSHOPS', classrooms_path, method: :get %>
</div>

<section id='navigation-links-individual'>
  <%= link_to 'Edit', '/profile/edit' %>
  <%= link_to 'Change Password', '/profile/edit_password' %>
  <%= link_to 'My Orders', '/profile/orders' %>
</section>

<h2>Your cart contains: </h2>
<% if @cart %>
  <% @cart.each do |cart_item, quantity| %>
    <% if cart_item.keys.include?(:artwork) %>
      <h3>Name: <%= link_to Artwork.find(cart_item[:artwork]).name, artwork_path(Artwork.find(cart_item[:artwork])) %></h3>
      <h3>Cost: <%= number_to_currency(Artwork.find(cart_item[:artwork]).cost) %></h3>
    <% elsif cart_item.keys.include?(:classroom) %>
      <h3>Name: <%= link_to Classroom.find(cart_item[:classroom]).name, classroom_path(Classroom.find(cart_item[:classroom])) %></h3>
      <h3>Cost: <%= number_to_currency(Classroom.find(cart_item[:classroom]).cost) %></h3>
    <% elsif cart_item.keys.include?(:clothing) %>
      <h3>Name: <%= link_to Clothing.find(cart_item[:clothing]).name, clothing_path(Clothing.find(cart_item[:clothing])) %></h3>
      <h3>Cost: <%= number_to_currency(Clothing.find(cart_item[:clothing]).cost) %></h3>
    <% end %>
  <% end %>
  <% else %>
    <h3>Nothing!</h3>
<% end %>
