<section class="page-title">
  <h1><%= @collection.name %></h1>
</section>

<div class="quicknav-content">
  <div class="quicknav-dropdown">
    <ul class="dropdown-row">
      <li class="page-collection">
        <%= link_to 'home', welcome_index_path %>
      </li>
      <li class="folder-collection">
        <div class="quicknav-menu-bar-container" hover="myFunction(this)">
          <%= link_to 'art', artwork_collections_path %>
        </div>
        <div class="quicknav-dropdown-content">
          <ul>
            <li class="page-collection">
              <%= link_to 'all art', artworks_path %>
            </li>
            <li class="page-collection">
              <%= link_to '100 Day Project: Maps', "/artwork/collections/1" %>
            </li>
            <li class="page-collection">
              <%= link_to '100 Day Project: Embroidery', "/artwork/collections/3" %>
            </li>
          </ul>
        </div>
      </li>
      <li class="folder-collection">
        <div class="quicknav-menu-bar-container" hover="myFunction(this)">
          <%= link_to 'objects', physical_object_collections_path %>
        </div>
        <div class="quicknav-dropdown-content">
          <ul>
            <li class="page-collection">
              <%= link_to 'all objects', clothings_path %>
            </li>
          </ul>
        </div>
      </li>
      <li class="page-collection">
        <%= link_to 'workshops', classrooms_path %>
      </li>
    </ul>
  </div>
</div>

<div class="physical-object-collection-layout-show">
    <div class="physical-object-collection-container-show">
      <div class="physical-object-collection-container-row-show">
        <% @collection.clothings.each do |object| %>
          <!-- <div class="physical-object-collection-object-column-show"> -->
            <%# <% binding.pry %>
            <div class="physical-object-collection-card-show">
              <div class="physical-object-collection-object-header-show">
                <%= link_to "#{ object.name }", "/clothings/#{ object.id }", method: :get %><br>
              </div>
                <% if object.photos.attached? %>
                  <div class="physical-object-collection-object-image-show">
                    <%= link_to image_tag(object.photos.first), "/clothings/#{ object.id }", method: :get %><br>
                  </div>
                <% else %>
                  <div class="physical-object-collection-object-no-image-show">
                    <%= link_to 'Image coming soon!', "/clothings/#{ object.id }", method: :get, style: 'font-alighn: center' %><br>
                  </div>
                <% end %>
              <div class="physical-object-collection-object-cost-show">
                <%= number_to_currency(object.cost) %><br>
              </div>
            </div>
          <!-- </div> -->
        <% end %>
      </div>
    </div>
</div>
