<section class="page-title">
  <h1>Requirement: <%= @requirement.name%></h1>
</section>
<div class="quicknav-content">
  <%= link_to  'admin dashboard', admin_dashboard_index_path %> / <%= link_to  "#{@classroom.name}", admin_classroom_path(@classroom) %> /<%= link_to  'my workshops', admin_classrooms_path %>
</div><br>

<section id='navigation-links-individual'>
  <%# <%= link_to 'Edit Requirement', "/admin/workshop/requirements/#{@requirement.id}/edit/#{@requirement.classroom_id}", method: :get %> 
  <%= link_to 'Delete Requirement', "/admin/workshop/requirements/#{@requirement.id}", method: :delete %>
</section><br>
