<section class="page-title">
  <h1>Edit Artist Story:</h1>
</section>

<div class="quicknav-content">
  <%= link_to  'admin dashboard', admin_dashboard_index_path %> / <%= link_to "#{@user.name}'s artist story", "/admin/user/#{@user.id}/artist_stories/#{@artist_story.id}"%> / <%= link_to "#{@user.name}'s profile", admin_users_path(@user) %>
</div><br>

<%= form_for [@artist_story], url: "/admin/user/#{@user.id}/artist_stories/#{@artist_story.id}/edit", method: :post do |f| %>
  <%= f.label :story %><br>
  <%= f.text_area :story, rows: 20, cols: 50 %><br>

  <%= f.submit 'Update Artist Story' %>
<% end %>
