<section class="page-title">
  <h1>All the Artist Stories!</h1>
</section>

<div class="quicknav-content">
  <%= link_to  'admin dashboard', admin_dashboard_index_path %> / <%= link_to 'my art', admin_artworks_path %> / <%= link_to  'my objects', admin_clothings_path %> / <%= link_to  'my workshops', admin_classrooms_path %>
</div><br>

<table>
  <thead>
    <tr>
      <th>Link to Artist Profile</th>
      <th>ID</th>
      <th>Story</th>
      <th>Link to Edit</th>
      <th>Button to Delete</th>
    </tr>
  </thead>
  <tbody>
    <% if @artist_stories %>
      <% @artist_stories.each do |artist_story| %>
      <tr>
        <td><%= link_to "#{current_user.name}'s Profile", "/admin/user/#{current_user.id}" %></td>
        <td><%= link_to "#{artist_story.id}", "/admin/user/#{current_user.id}/artist_stories/#{artist_story.id}", method: :get %></td>
        <td><%= artist_story.story %></td>
        <td><%= link_to "Edit #{artist_story.id}", "/admin/user/#{current_user.id}/artist_stories/#{artist_story.id}/edit", method: :get %></td>
        <td><%= button_to "Delete #{current_user.name}'s Artist Story", "/admin/user/#{current_user.id}/artist_stories/#{artist_story.id}", method: :delete %></td>
      </tr>
      <% end %>
    <% else %>
      <h5>There are no Artist Stories</h5>
    <% end %>
  </tbody>
</table>

<section class="new-artist-story-button">
  <p><%= button_to 'Add your Artist Story', "/admin/user/#{current_user.id}/artist_stories/new", method: :get  %></p>
</section>
