<h1>All the Artwork!</h1>


<h3>Total Number of Artpieces: <%= @artworks.count %></h3>
<h3>Number of Artpieces Sold: <%= @artworks.total_sold %></h3>
<h3>Number of Artpieces Available for purchase: <%= @artworks.total_available %></h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Link to Edit</th>
      <th>Link to Delete</th>
      <th>Description</th>
      <th>Image</th>
      <th>Create Date</th>
      <th>Sell Date</th>
      <th>Cost</th>
      <th>Available</th>
    </tr>
  </thead>
  <tbody>
    <% if @artworks %>
      <% @artworks.each do |artwork| %>
      <tr>
        <td><%= link_to "#{artwork.name}", "/admin/artworks/#{artwork.id}", method: :get %></td>
        <td><%= link_to "Edit #{artwork.name}", "/admin/artworks/#{artwork.id}/edit", method: :get %></td>
        <td><%= link_to "Delete #{artwork.name}", "/admin/artworks/#{artwork.id}/alert", method: :get %></td>
        <td><%= artwork.description %></td>
        <% if !artwork.image.nil? %>
          <td><%= image_tag(artwork.image) %></td>
        <% elsif !artwork.images.nil? %>
          <td><%= image_tag(artwork.images[0]) %></td>
        <% else %>
          <td>There is no image to display </td>
        <% end %>
        <td><%= artwork.create_date.strftime("%A, %d %b %Y") %></td>
        <% if !artwork.sell_date.nil?%>
          <td><%= artwork.sell_date.strftime("%A, %d %b %Y") %></td>
        <% else %>
          <td><%= artwork.sell_date %></td>
        <% end %>
        <td><%= number_to_currency(artwork.cost) %></td>
        <td><%= artwork.available %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<p><%= button_to 'Add a New Artwork', new_admin_artwork_path, method: :get  %></p>

<div class="import-csv">
  <%= form_tag import_admin_artworks_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag 'Import Spreadsheet' %>
  <% end %>
</div>
