<section class="page-title">
  <h1><%= @artwork.name %></h1>
</section>

<div class="quicknav-content">
  <%= link_to  'admin dashboard', admin_dashboard_index_path %> / <%= link_to 'my art', admin_artworks_path %> / <%= link_to  'my garments', admin_clothings_path %> / <%= link_to  'my workshops', admin_classrooms_path %>
</div><br>

<section id='navigation-links-individual'>
  <%= link_to "Edit #{@artwork.name}", "/admin/artworks/#{@artwork.id}/edit", method: :get %>
  <%= link_to "Delete #{@artwork.name}", "/admin/artworks/#{@artwork.id}", method: :delete %>
</section><br><br>

<section class="admin-artwork-details">
  <section class="admin-artwork-details-category" >
    Art Description:
  </section>
    <p><%= @artwork.description %></p><br>

  <section class="admin-artwork-details-category" >
    Art Image:
  </section>
    <% if @artwork.image.attached? %>
      <p><%= image_tag(@artwork.image) %></p>
    <% else %>
      <h5>There is no image for this Art, yet!</h5><br>
    <% end %>

    <section class="admin-artwork-details-category" >
      <%= @artwork.name %> Creation Date:
    </section>
      <p><%= (@artwork.create_date).strftime("%A, %d %b %Y") %></p><br>

    <section class="admin-artwork-details-category" >
      <%= @artwork.name %> Sell Date:
    </section>
      <% if !@artwork.sell_date.nil? %>
        <p><%= (@artwork.sell_date).strftime("%A, %d %b %Y") %></p><br>
      <% else %>
        <p>This Art has not been sold!</p><br>
      <% end %>

    <section class="admin-artwork-details-category" >
      Art's availability:
    </section>
      <p><%= @artwork.availability? %></p><br>

    <section class="admin-artwork-details-category" >
      Art's MSRP:
    </section>
      <p><%= number_to_currency(@artwork.cost) %></p><br>

</section>

<section id="add-artshows">
  <p><%= button_to "Add Artshows" %></p>
</section>

<section id="add-materials">
  <p><%= button_to "Add Materials"%></p>
</section>
