<section class="page-title">
  <h1><%= @artwork.name %></h1>
</section>
<section id='navigation-links-individual'>
  <%= link_to 'My Art', '/admin/artworks' %>
  <%= link_to "Edit #{@artwork.name}", "/admin/artworks/#{@artwork.id}/edit", method: :get %>
  <%= link_to "Delete #{@artwork.name}", "/admin/artworks/#{@artwork.id}", method: :delete %>
</section>

<section id="garment-details">
  <p>Artwork Description: <%= @artwork.description %></p>
  <p>Artwork Image: <%= image_tag(@artwork.image) %></p>
  <p><%= @artwork.name %> Creation Date: <%= (@artwork.create_date).strftime("%A, %d %b %Y") %></p>
  <% if !@artwork.sell_date.nil? %>
    <p><%= @artwork.name %> Sell Date: <%= (@artwork.sell_date).strftime("%A, %d %b %Y") %></p>
  <% else %>
    <p><%= @artwork.name %> Sell Date: <%= @artwork.sell_date %></p>
  <% end %>
  <p>Artwork's availability: <%= @artwork.availability? %></p>
  <p>Artwork's MSRP: <%= number_to_currency(@artwork.cost) %></p>
</section>

<section id="add-artshows">
  <p><%= button_to "Add Artshows to #{@artwork.name}" %></p>
</section>

<section id="add-materials">
  <p><%= button_to "Add Materials used in making #{@artwork.name}" %></p>
</section>
