<section class="page-title">
  <h1>All the Artwork Statements!</h1>
</section>

<div class="quicknav-content">
  <%= link_to  'admin dashboard', admin_dashboard_index_path %> / <%= link_to 'my art', admin_artworks_path %>/ <%= link_to  'my garments', admin_clothings_path %> / <%= link_to  'my workshops', admin_classrooms_path %>
</div><br>

<table>
  <thead>
    <tr>
      <th>Link to Artwork Name</th>
      <th>ID</th>
      <th>Statement</th>
      <th>Link to Edit</th>
      <th>Button to Delete</th>
    </tr>
  </thead>
  <tbody>
    <% if @artwork_statements %>
      <% @artwork_statements.each do |artwork_statement| %>
      <tr>
        <td><%= link_to "#{artwork_statement.find_artwork.name}", "/admin/artworks/#{artwork_statement.find_artwork.id}" %></td>
        <td><%= link_to "#{artwork_statement.id}", "/admin/art/#{artwork_statement.find_artwork.id}/artwork_statement/#{artwork_statement.id}", method: :get %></td>
        <td><%= artwork_statement.statement %></td>
        <td><%= link_to "Edit #{artwork_statement.id}", "/admin/art/#{artwork_statement.find_artwork.id}/artwork_statement/#{artwork_statement.id}/edit", method: :get %></td>
        <td><%= button_to "Delete #{artwork_statement.id}", "/admin/art/#{artwork_statement.find_artwork.id}/artwork_statement/#{artwork_statement.id}", method: :delete %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
