<section class="page-title">
  <h1>All Messages</h1>
</section>

<div class="quicknav-content">
  <%= link_to 'admin dashboard', admin_dashboard_index_path %>
</div><br>

<section class="messages-table">
  <table>
    <thead>
      <tr>
        <th>Read</th>
        <th>Responded</th>
        <th>Follow Up</th>
        <th>Subject</th>
        <th>Customer Name</th>
        <th>Customer Email</th>
        <th>Message</th>
        <th>Save</th>
      </tr>
    </thead>
    <tbody>
      <% if @contacts %>
        <% @contacts.each do |contact| %>
        <tr>
          <%= form_for ([:admin, contact]) do |f| %>
            <% if contact.message_status == 'unread'%>
              <td> <%= radio_button('contact', 'message_status', 'read') %></td>
              <td> <%= radio_button('contact', 'message_status', 'responded') %></td>
              <td> <%= radio_button('contact', 'message_status', 'follow_up') %></td>
            <% elsif contact.message_status == 'read'%>
              <td> <%= '✅' %></td>
              <td> <%= radio_button('contact', 'message_status', 'responded') %></td>
              <td> <%= radio_button('contact', 'message_status', 'follow_up') %></td>
            <% elsif contact.message_status == 'responded'%>
              <td> <%= '✅' %></td>
              <td> <%= '✅' %></td>
              <td> <%= radio_button('contact', 'message_status', 'follow_up') %></td>
            <% elsif contact.message_status == 'follow_up'%>
              <td> <%= '✅' %></td>
              <td> <%= '✅' %></td>
              <td> <%= '✅' %></td>
            <% end %>
            <td><%= contact.subject %></td>
            <td><%= contact.name %></td>
            <td><%= contact.customer_email_address %></td>
            <td><%= contact.message %></td>
            <td class="update-messages-button", style="width: 10em"><%= f.submit 'Save' %></td>
          <% end %>
        </tr>
        <% end %>
      <% else %>
        <h5>There are no messages currently in the system!</h5>
      <% end %>
    </tbody>
  </table>
</section>
