<section class="page-title">
  <h2>All the Collections available</h2>
</section>

<div class="quicknav-content">
  <%= link_to  'admin dashboard', admin_dashboard_index_path %> / <%= link_to  'my art', admin_artworks_path %> / <%= link_to  'my objects', admin_clothings_path %> / <%= link_to  'my workshops', admin_classrooms_path %>
</div><br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Collection Type</th>
      <th>Edit Collection</th>
      <th>Delete Collection</th>
    </tr>
  </thead>
  <tbody>
    <% if @collections %>
      <% @collections.each do |collection| %>
      <tr>
        <td><%= link_to "#{collection.name}",  "/admin/collections/#{collection.id}" %></td>
        <td><%= collection.collection_type %></td>
        <td><%= link_to 'Edit Collection', "/admin/collections/#{collection.id}/edit" %></td>
        <td><%= link_to 'Delete Collection', "/admin/collections/#{collection.id}/alert" %></td>
      </tr>
      <% end %>
    <% else %>
      <tr>There are no garmets currently in the system! Please add some!</tr>
    <% end %>
  </tbody>
</table>

<section class="new-collection-button">
  <p><%= button_to 'Add a New Collection', new_admin_collection_path, method: :get  %></p>
</section>
