<section class="page-title">
  <h2>Create a new Collection</h2>
</section>

<div class="quicknav-content">
  <%= link_to  'admin dashboard', admin_dashboard_index_path %> / <%= link_to 'my collections', admin_collections_path, method: :get %> / <%= link_to  'my garments', admin_clothings_path %> / <%= link_to  'my workshops', admin_classrooms_path %>
</div><br>

<section class="add-collection">
  <%= form_tag '/admin/collections' do %>
  <%= label_tag 'Name of new Collection: '%><br>
  <%= text_field_tag :name %><br>

  <section class="submit-collection-button">
    <%= submit_tag 'Submit Collection' %>
  </section>
  <% end %>
</section>
