<section class="page-title">
  <h1>Collection: <%= @collection.name %></h1>
</section>

<div class="quicknav-content">
  <%= link_to  'admin dashboard', admin_dashboard_index_path %> / <%= link_to 'my collections', admin_collections_path %> / <%= link_to  'my garments', admin_clothings_path %> / <%= link_to  'my workshops', admin_classrooms_path %> / <%= link_to  'my artwork', admin_artworks_path %>
</div><br>

  <section class="admin-collection-container-show">
    <% if !@collection.artworks.empty? %>
      <section class="admin-collection-row-show">
        <% @collection.artworks.each do |artwork| %>
          <section class="admin-collection-column-show">
            <section class="admin-collection-header-show">
              <br>
              <p><%= artwork.name %></p>
            </section><br>
            <!-- <section class="collection-details"> -->
              <p class="admin-collection-description"><%= artwork.description %></p><br>
              <% if artwork.photos.attached? %>
                <% artwork.photos.map do |photo| %>
                  <section class="collection-artwork-image">
                    <p><%= link_to image_tag(photo), admin_artwork_path(artwork) %></p><br>
                  </section>
                <% end %>
              <% else %>
              <% end %>

              <p>Cost: <%= number_to_currency(artwork.cost) %></p><br>
              <p>Artwork is <%= artwork.availability? %></p><br>

              <section class="collection-artwork-seperation">
                <!-- _____________________________________________________________________________________ -->
              </section>
            <!-- </section> -->

          </section>
        <% end %>
      </section>
    <% else %>
      <p class="admin-collection-no-artworks">There are no artworks associated with this Collection at this time </p>
    <% end %>
  </section>
