<section class="page-title">
  <h1>Collection: <%= @collection.name %></h1>
</section>

<div class="quicknav-content">
  <%= link_to  'admin dashboard', admin_dashboard_index_path %> / <%= link_to 'my collections', admin_collections_path %> / <%= link_to  'my garments', admin_clothings_path %> / <%= link_to  'my workshops', admin_classrooms_path %> / <%= link_to  'my artwork', admin_artworks_path %>
</div><br>

<section class="collection-details">
  <p>Collection Name: <%= @collection.name %></p>
  <% if !@collection.artworks.empty? %>
    <% @collection.artworks.each do |artwork| %>
    <%= artwork.name %><br>
    <%= artwork.description %><br>
    <%= link_to image_tag(artwork.image), admin_artwork_path(artwork) %><br>
    <%= artwork.cost %><br>
    <p>Artwork is <%= artwork.availability? %></p><br>
    <% end %>
  <% else %>
    <p>There are no artworks associated with this Collection at this time </p>
  <% end %>
</section>

<!-- <section id="add-pattern"> -->
  <%# <!-- <p><%= button_to "Add pattern used to make #{@clothing.name}" %>
<!-- </section> -->

<!-- <section id="add-materials"> -->
  <%# <!-- <p><%= button_to "Add Fabrics used in making #{@clothing.name}" %>
<!-- </section> -->
