<section class="page-title">
  <h2>Create a new Resume</h2>
</section>

<div class="quicknav-content">
  <%= link_to  'admin dashboard', admin_dashboard_index_path %> / <%= link_to 'my art', admin_artworks_path, method: :get %> / <%= link_to 'my collections', admin_collections_path, method: :get %> / <%= link_to  'my garments', admin_clothings_path %> / <%= link_to  'my workshops', admin_classrooms_path %>
</div><br>

<section class="add-cv">
  <%= form_tag '/admin/cv' do %>
  <%= label_tag 'Title of your CV: '%><br>
  <%= text_field_tag :name %><br>

  <%= label_tag 'Your CV: '%><br>
  <%= file_field_tag :cv_file %><br>

  <%= hidden_field_tag "user_id", "#{current_user.id}"%>
  <section class="submit-collection-button">
    <%= submit_tag 'Submit Collection' %>
  </section>
  <% end %>
