<section class="page-title">
  <h1>Edit <%= @email.email_address%>:</h1>
</section>

<div class="quicknav-content">
  <%= link_to  'admin dashboard', admin_dashboard_index_path %> / <%= link_to 'all emails', admin_emails_path %>
</div>

<%= form_for ([:admin, @email]) do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>

  <%= f.label :email_address %><br>
  <%= f.text_field :email_address %><br>

  <%= f.submit 'Update Email' %>
<% end %>
