<section class="page-title">
  <h1>Edit <%= @email.email_address%>:</h1>
</section>
<%= form_for ([:admin, @email]) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email_address %>
  <%= f.text_field :email_address %>

  <%= f.submit 'Update Email' %>
<% end %>
