<section class="page-title">
  <h1>Add new Community Member ( with email contact) : </h1>
</section>

<div class="quicknav-content">
  <%= link_to  'admin dashboard', admin_dashboard_index_path %> / <%= link_to 'all members', admin_emails_path %> / <%= link_to 'all users', admin_users_path %>
</div>

<section class="admin-add-email-contact">
  <%= form_tag admin_emails_path, method: 'post', :class => 'admin-form-inline' do %>
      <%= text_field_tag :name, nil, class: 'admin-form-inline', placeholder: 'new community member name' %>
      <%= email_field_tag :email_address, nil, class: 'admin-form-inline', placeholder: 'new member email' %><br>

      <section class="admin-new-email-button">
        <%= submit_tag 'Add Community Member' %>
      </section>
  <% end %>
</section>
