<section class="page-title">
  <h1>Behind the Scences at Quiet Joy Studio</h1>
</section>

<div class="quicknav-content">
  <%= link_to 'home', welcome_index_path %>  /  <%= link_to 'contact the maker', '/about/1/contact' %> / <%= link_to 'commission a blooming map', new_commission_blooming_map_path %>
</div>

<section class="bio-layout">
  <section class="maker-image">
    <%= image_tag 'maker-img1.png' %>
  </section>
  <section class="maker-image">
    <%= image_tag 'map-img1.png' %>
  </section>

  <section class="maker-bio">
    <section class="maker-bio-header">
      <h3>Meet the maker at Quiet Joy Studio</h3>
    </section>

    <section class="maker-layout">
      <section class="maker-bio-text">

      </section>
    </section>


    <section class="maker-layout">
      <section class="maker-image">
        <%= image_tag 'embrodery6.png' %>
      </section>
      <section class="maker-image">
        <%= image_tag 'paper-art2.png' %>
      </section>
      <section class="maker-image">
        <%= image_tag 'beautiful-thread.png' %>
      </section>
    </section>
  </section>

  <section class="maker-history">
    <section class="maker-history-header">
      <h3>Karin's Journey</h3>
    </section>
    <section class="maker-history-text">

    </section>
    <section class="maker-layout">
      <section class="maker-image">
        <%= image_tag 'paper-art1.png' %>
      </section>
      <section class="maker-image">
        <%= image_tag 'map-img2.png' %>
      </section>
    </section>

    <section class="maker-layout">
      <section class="maker-image">
        <%= image_tag 'maker-img2.png' %>
      </section>
    </section>
  </section>
</section>
