<section class="page-title">
  <h1>FAQ</h1>
</section>
<div class="quicknav-content">
  <%= link_to 'home', welcome_index_path %>  /  <%= link_to 'about the maker', '/about/1/bio' %> /  <%= link_to 'contact the maker', '/about/1/contact' %> / <%= link_to 'CV', '/about/1/cv' %>
</div>

<section class="faq-layout">
  <% if !@faqs.nil? %>
    <section class="faq-row">
      <% @faqs.map do |faq_pair| %>
        <section class="faq-column">
          <section class="faq-card">
            <section class="faq-question">
              <h3><%= faq_pair.question %></h3>
            </section>
            <section class="faq-answer">
              <h6><%= faq_pair.answer %></h6>
            </section>
          </section>
        </section>
      <% end %>
    </section>
  <% else %>
    <section class="faq-no-questions-created">
      <h3>Things must be very clear, because there are no pressing questions to answer</h3>
    </section>
  <% end %>
</section>
