<section class="page-title">
  <h2><%= @clothing.name %> Edit Page</h2>
</section>

<div class="quicknav-content">
  <%= link_to  'admin dashboard', admin_dashboard_index_path %>  / <%= link_to  "#{@clothing.name}", admin_clothing_path(@clothing) %> / <%= link_to  'my garments', admin_clothings_path %>
</div><br>
<%= form_for ([:admin, @clothing]) do |f| %>

  <%= f.label 'Name of Garment: '%><br>
  <%= f.text_field :name %><br>

  <%= f.label 'Description of Garment: '%><br>
  <%= f.text_field :description %><br>

  <%= f.label 'Link to Garment (optional): '%><br>
  <%= f.text_field :url %><br>

  <%= f.label 'Category of Garment: '%><br>
  <%= f.select :category, @clothings.map { |clothing| [clothing.category] }, include_blank: true %><br>

  <%= f.label 'Garment is available (yes/no): '%>
  <%= f.label 'Yes'%>
  <%= f.radio_button :available, true %>
  <%= f.label 'No'%>
  <%= f.radio_button :available, false %><br>
  <br>
  <%= f.label 'Garment was created on: '%><br>
  <%= f.date_field :origin_date %><br>

  <%= f.label 'Cost: '%><br>
  <%= f.number_field :cost, value: number_to_currency(f.object.cost.to_f, delimiter: '', unit: ''), step: :any %><br>

  <%# <%= f.label 'Image of Garment: '%>
  <%# <%= f.file_field :photos %>

  <%= f.submit 'Update Garment' %>
<% end %>
