<section class="page-title">
  <h1>Garment: <%= @clothing.name %></h1>
</section>
<section id='navigation-links-individual'>
  <%= link_to 'My Garments', '/admin/clothings' %>
  <%= link_to 'Edit Garment', "/admin/clothings/#{@clothing.id}/edit", method: :get %>
  <%= link_to 'Delete Garment', "/admin/clothings/#{@clothing.id}", method: :delete %>
</section>

<section id="garment-details">
  <p>Garment Description: <%= @clothing.description %></p>
  <p>Garment Image: <%= image_tag(@clothing.image) %></p>
  <p>Link to Etsy url: <%= @clothing.url %></p>
  <p>Garemnt Category: <%= @clothing.category %></p>
  <p>Garemnt's availability: <%= @clothing.availability? %></p>
  <p>Garemnt's creation date: <%= (@clothing.origin_date).strftime("%A, %d %b %Y") %></p>
  <p>Garemnt's MSRP: <%= number_to_currency(@clothing.cost) %></p>
</section>

<section id="add-pattern">
  <p><%= button_to "Add pattern used to make #{@clothing.name}" %></p>
</section>

<section id="add-materials">
  <p><%= button_to "Add Fabrics used in making #{@clothing.name}" %></p>
</section>
