<section class="page-title">
  <h1>Garment: <%= @clothing.name %></h1>
</section>

<div class="quicknav-content">
  <%= link_to  'admin dashboard', admin_dashboard_index_path %> / <%= link_to  'my art', admin_artworks_path %> / <%= link_to  'my garments', admin_clothings_path %> /<%= link_to  'my workshops', admin_classrooms_path %>
</div><br>
<section id='navigation-links-individual'>
  <%= link_to 'Edit Garment', "/admin/clothings/#{@clothing.id}/edit", method: :get %>
</section><br><br>

<section class="admin-garment-details">
  <section class="admin-garment-detail-category">
    Garment Description:
  </section>
  <p class="admin-garment-details-text"><%= @clothing.description %></p>

  <section class="admin-garment-detail-category">
    Garment Image(s): <%= @clothing.photos.count %>
  </section>
  <% if @clothing.photos.attached? && @clothing.image.attached? %>
    <section class="admin-garment-details-images">
      <p class="admin-garment-details-image"><%= image_tag(@clothing.image) %></p>
      <section class="remove-photos" style="display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: flex-end;
      justify-content: flex-end;
      align-items: flex-end;">
        <p><%= button_to "Remove Image", "/admin/clothings/#{@clothing.id}/remove_photo/#{@clothing.image.id}", method: :delete, data: { confirm: "Are you sure?" } %></p>
      </section>
      <% @clothing.photos.map do |photo| %>
        <p class="admin-garment-details-image"><%= image_tag(photo) %></p>
        <section class="remove-photos" style="display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: flex-end;
        justify-content: flex-end;
        align-items: flex-end;">
        <p><%= button_to "Remove Image", "/admin/clothings/#{@clothing.id}/remove_photo/#{photo.id}", method: :delete, data: { confirm: "Are you sure?" } %></p>
        </section>
      <% end %>
    </section>
  <% elsif @clothing.photos.attached? %>
    <% @clothing.photos.map do |photo| %>
      <section class="admin-garment-details-image">
        <p><%= image_tag(photo) %></p>
      </section>
      <section class="remove-photos" style="display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: flex-end;
      justify-content: flex-end;
      align-items: flex-end;">
        <p><%= button_to "Remove Image", "/admin/clothings/#{@clothing.id}/remove_photo/#{photo.id}", method: :delete, data: { confirm: "Are you sure?" } %></p>
      </section>
    <% end %>
  <% elsif @clothing.image.attached? %>
    <p class="admin-garment-details-image"><%= image_tag(@clothing.image) %></p>
    <section class="remove-photos" style="display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: flex-end;
    align-items: flex-end;">
      <p><%= button_to "Remove Image", "/admin/clothings/#{@clothing.id}/remove_photo/#{@clothing.image.id}", method: :delete, data: { confirm: "Are you sure?" } %></p>
    </section>
  <% else %>
    <h5>There is no image uploaded, yet for this Garment!</h5>
  <% end %>
  <section class="admin-garment-detail-category">
    Link to Etsy url:
  </section>
    <% if @clothing.url.nil? %>
      <p class="admin-garment-details-text">There is not a link available</p>
    <% else %>
      <p class="admin-garment-details-text"><%= @clothing.url %></p>
    <% end %>

  <section class="admin-garment-detail-category">
    Garment Category:
  </section>
  <p class="admin-garment-details-text"><%= @clothing.category %></p>

  <section class="admin-garment-detail-category">
    Garment is
  </section>
  <p class="admin-garment-details-text"><%= @clothing.availability? %></p>

  <section class="admin-garment-detail-category">
    Garment's creation date:
  </section>
  <p class="admin-garment-details-text"><%= (@clothing.origin_date).strftime("%A, %d %b %Y") %></p>

  <section class="admin-garment-detail-category">
    Garment's MSRP:
  </section>
  <p class="admin-garment-details-text"><%= number_to_currency(@clothing.cost) %></p>
</section>

<section class="add-photos">
  <p><%= button_to "Add Image", "/admin/clothings/#{@clothing.id}/add_photos", method: :get %></p>
</section>

<section class="remove-garment-button-show">
  <p><%= button_to "Delete #{ @clothing.name }", "/admin/clothings/#{@clothing.id}", method: :delete %></p>
</section>

<section id="add-pattern">
  <!-- <p><%= button_to "Add Pattern" %></p> -->
</section>

<section id="add-materials">
  <!-- <p><%= button_to "Add Fabrics" %></p> -->
</section>
