<h4>Get the latest news from Karin! Sign up here for exclusive information: </h4>
<%= form_tag '/emails' do %>
  <%= label_tag :name %><br>
  <%= text_field_tag :name %><br>

  <%= label_tag :email_address %><br>
  <%= text_field_tag :email_address %><br>
  <%= submit_tag "Join Karin's Community" %>
<% end %>
