<section class="page-title">
  <h1>Edit <%= @user.name %>'s info:</h1>
</section>

<div class="quicknav-content">
  <%= link_to  'admin dashboard', admin_dashboard_index_path %> / <%= link_to 'profile', admin_user_path(@user) %>
</div><br>


<%= form_for @user do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>

  <%= f.label :address %><br>
  <%= f.text_field :address %><br>

  <%= f.label :city %><br>
  <%= f.text_field :city %><br>

  <%= f.label :state %><br>
  <%= f.text_field :state %><br>

  <%= f.label :zip %><br>
  <%= f.text_field :zip %><br>

  <%= f.label :email %><br>
  <%= f.email_field :email %><br>

  <%= f.label 'Your time zone: '%><br>
  <%= f.select :time_zone, options_for_select(ActiveSupport::TimeZone::MAPPING.map { |k, v| v }) %><br>

  <%= f.label 'Add a profile picture (PNG or JPEG)' %><br>
  <%= f.file_field :avatar %><br>

  <%= f.submit 'Update Profile' %>
<% end %>
