<h1>Edit <%= @user.name %>'s info:</h1>

<%= form_for(@user, url: "/user/#{@user.id}") do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>

  <%= f.label :address %><br>
  <%= f.text_field :address %><br>

  <%= f.label :city %><br>
  <%= f.text_field :city %><br>

  <%= f.label :state %><br>
  <%= f.text_field :state %><br>

  <%= f.label :zip %><br>
  <%= f.text_field :zip %><br>

  <%= f.label :email %><br>
  <%= f.email_field :email %><br>

  <%= f.label :role %><br>
  <%= f.select(:role, @user_roles) %><br>

  <%= f.submit 'Update Profile' %>
<% end %>
