<h1><%= @user.name %></h1>
<section id='admin-profile-links'>
  <%= link_to 'All Profiles', "/admin/users", method: :get %>
  <%= link_to 'Edit Profile', "/admin/users/#{@user.id}/edit", method: :get %>
  <%= link_to 'Edit Password', "/admin/users/#{@user.id}/edit_password", method: :get %>
  <%= link_to 'Delete Profile', "/admin/users/#{@user.id}", method: :delete %>
</section>
