<section class="page-title">
  <h1><%= @user.name %></h1>
</section>

<div class="quicknav-content">
  <%= link_to  'admin dashboard', admin_dashboard_index_path %> / <%= link_to 'all users', admin_users_path %> / <%= link_to 'all emails', admin_emails_path %>
</div><br>

<section id='admin-profile-links'>
  <%# I added the link above to 'all users' which takes the place of this button. I think the link makes more sense. %>
  <section class="admin-profile-profile-specifics">
    <%= button_to 'Edit Profile', "/admin/users/#{@user.id}/edit", method: :get %>
    <%= button_to 'Edit Password', "/admin/users/#{@user.id}/edit_password", method: :get %>
    <%= button_to 'Delete Profile', "/admin/users/#{@user.id}", method: :delete, data: { confirm: "Are you sure?" } %>
  </section>
  <section class="admin-profile-social-links">
    <%= button_to 'Social Links', admin_social_path, method: :get %>
  </section>
  <section class="admin-profile-story">
    <% if !@user.artist_story %>
    <%= button_to 'Add your Story', "/admin/user/#{@user.id}/artist_stories/new", method: :get %>
    <% else %>
    <%= button_to 'Edit your Story', "/admin/user/#{@user.id}/artist_stories/#{@user.artist_story.id}/edit", method: :get %>
    <% end %>
  </section>
  <section class="admin-profile-artist-statement">
    <% if !@user.artist_statement %>
      <%= button_to 'Add Artist Statement', "/admin/user/#{@user.id}/artist_statement/new", method: :get %>
    <% else %>
      <%= button_to 'Edit Artist Statement', "/admin/user/#{@user.id}/artist_statement/#{@user.artist_statement.id}/edit", method: :get %>
    <% end %>
  </section>
  <section class="admin-profile-cv">
    <% if Cv.all.count == 0 %>
      <%= button_to 'Add CV', new_admin_cv_path, method: :get %>
    <% else %>
      <%= button_to 'View CV', admin_cv_path(@user.cv), method: :get %>
    <% end %>
  </section>
</section>
