<section class="page-title">
  <h2><%= @student_work.title %> Edit Page</h2>
</section>

<div class="quicknav-content">
  <%= link_to  'admin dashboard', admin_dashboard_index_path %> / <%= link_to "#{@student_work.title}", admin_student_work_path(@student_work) %> / <%= link_to "my student works", admin_student_works_path%>
</div><br>
<%= form_for ([:admin, @student_work]) do |f| %>

  <%= f.label 'Name of Garment: '%><br>
  <%= f.text_field :title %><br>

  <%= f.label 'Description of Garment: '%><br>
  <%= f.text_field :description %><br>

  <%= f.label 'Category of Garment: '%><br>
  <%= f.select :age_category, options_for_select(StudentWork.age_categories.map { |category| category }) %><br>

  <%= f.label 'Image of StudentWork: '%><br>
  <%= f.file_field :image %><br>

  <%= f.submit 'Update StudentWork' %>
<% end %>
