<section class="page-title">
  <h2>All the StudentWorks</h2>
</section>

<div class="quicknav-content">
  <%= link_to  'admin dashboard', admin_dashboard_index_path %> / <%= link_to 'my art', admin_artworks_path, method: :get %> / <%= link_to 'my collections', admin_collections_path, method: :get %> / <%= link_to  'my garments', admin_clothings_path %> / <%= link_to  'my workshops', admin_classrooms_path %>
</div><br>

<h3>Total Number of StudentWorks: <%= @student_works.total_student_works %></h3>
<h3>Number of Young Adult StudentWorks: <%= @student_works.total_young_adults %></h3>
<h3>Number of Adult StudentWorks: <%= @student_works.total_adults %></h3>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Link to Edit</th>
      <th>Link to Delete</th>
      <th>Description</th>
      <th>Image</th>
      <th>Age Category</th>
    </tr>
  </thead>
  <tbody>
    <% if @student_works %>
      <% @student_works.each do |student_work| %>
      <tr>
        <td><%= link_to "#{student_work.title}",  admin_student_work_path(student_work), method: :get%></td>
        <td><%= link_to 'Edit StudentWork', edit_admin_student_work_path(student_work), method: :get %></td>
        <td><%= link_to 'Delete StudentWork', "/admin/student_works/#{student_work.id }", method: :delete, data: { confirm: "Are you sure?" } %></td>
        <td><%= student_work.description %></td>
        <% if student_work.image.attached? %>
          <td><%= image_tag(student_work.image) %></td>
        <% else %>
          <td>No image to display</td>
        <% end %>
        <td><%= student_work.age_category %></td>
      </tr>
      <% end %>
  </tbody>
  <% else %>
  <tr>There are no student works currently in the system! Please add some!</tr>
  <% end %>
</table>

<section class="new-student-work-button">
  <p><%= button_to 'Add a StudentWork', new_admin_student_work_path, method: :get  %></p>
</section>
