<section class="page-title">
  <h2>Create a new StudentWork</h2>
</section>

<div class="quicknav-content">
  <%= link_to  'admin dashboard', admin_dashboard_index_path %> / <%= link_to 'my art', admin_artworks_path, method: :get %> / <%= link_to 'my collections', admin_collections_path, method: :get %> / <%= link_to  'my garments', admin_clothings_path %> / <%= link_to  'my student works', admin_student_works_path %> / <%= link_to  'my workshops', admin_classrooms_path %>
</div><br>

<section class="admin-student-work">
  <%= form_tag '/admin/student_works' do %>

    <%= label_tag 'Title of the StudentWork: '%><br>
    <%= text_field_tag :title %><br>

    <%= label_tag 'Description of the StudentWork: '%><br>
    <%= text_field_tag :description %><br>

    <%= label_tag 'Age category of the StudentWork: '%><br>
    <%= select_tag :age_category, options_from_collection_for_select(@student_works, "age_category", "age_category") %><br>

    <%= label_tag 'Upload image of the StudentWork (.pdf or .png files only): '%><br>
    <%= file_field_tag :image %><br>

    <section class="submit-admin-student-work-button">
      <%= submit_tag 'Add StudentWork' %>
    </section>
  <% end %>
</section>
