<section class="page-title">
  <h2>All the BlogPosts</h2>
</section>

<div class="quicknav-content">
  <%= link_to  'admin dashboard', admin_dashboard_index_path %> / <%= link_to 'my art', admin_artworks_path %> / <%= link_to 'my collections', admin_collections_path %> / <%= link_to  'my garments', admin_clothings_path %> / <%= link_to  'my workshops', admin_classrooms_path %>
</div><br>

<h3>Total Number of BlogPosts: <%= @blog_posts.total_blog_posts %></h3>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Link to Edit</th>
      <th>BlogPost Body</th>
      <th>Image(s)</th>
      <th>Tag(s)</th>
      <th>Button to Delete</th>
    </tr>
  </thead>
  <tbody>
    <% if @blog_posts %>
      <% @blog_posts.each do |blog_post| %>
      <tr>
        <td style="font-size: 30px; color: #51677e; text-decoration: none;"><%= link_to "#{blog_post.title}",  admin_blog_post_path(blog_post), method: :get%></td>
        <td><%= link_to 'Edit BlogPost', edit_admin_blog_post_path(blog_post), method: :get %></td>
        <td><%= blog_post.body %></td>
        <% if blog_post.photos.attached? %>
          <td><%= image_tag(blog_post.photos.first) %>(<%= blog_post.photos.count%>)</td>
        <% else %>
          <td>No image to display</td>
        <% end %>
        <% if blog_post.tags %>
          <% all_the_tags = []%>
          <% blog_post.tags.map do |tag| %>
            <% all_the_tags << tag.title %>
          <% end %>
          <td><%= all_the_tags %></td>
        <% else %>
          <td>No tags to display</td>
        <% end %>
        <td><%= button_to 'Delete', "/admin/blog_posts/#{blog_post.id }", method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
      <% end %>
  </tbody>
  <% else %>
  <tr>There are no student works currently in the system! Please add some!</tr>
  <% end %>
</table>

<section class="new-blog-post-button">
  <p><%= button_to 'Add a BlogPost', new_admin_blog_post_path, method: :get  %></p>
</section>
