<section class="page-title">
  <h2>Create a new BlogPost</h2>
</section>

<div class="quicknav-content">
  <%= link_to  'admin dashboard', admin_dashboard_index_path %> / <%= link_to 'my art', admin_artworks_path, method: :get %> / <%= link_to 'my collections', admin_collections_path, method: :get %> / <%= link_to  'my garments', admin_clothings_path %> / <%= link_to  'my student works', admin_student_works_path %> / <%= link_to  'my workshops', admin_classrooms_path %>
</div><br>

<section class="admin-post-create">
  <%= form_tag "/admin/blog_posts", multipart: true do %>

    <%= label_tag 'Title of the BlogPost: '%><br>
    <%= text_field_tag :title %><br>

    <%= label_tag 'Body of the BlogPost: '%><br>
    <%= text_area_tag :body, nil, rows: 20, cols: 50 %><br>

    <%= hidden_field_tag :author, current_user.name %>

    <%= hidden_field_tag :user_id, current_user.id %>

    <%= label_tag 'Add a tag to the BlogPost: '%><br>
    <%= text_field_tag :tag %><br>

    <%= label_tag 'Upload image of the BlogPost (.pdf or .png files only): '%><br>
    <%= file_field_tag :photos %><br>

    <section class="submit-admin-post-button">
      <%= submit_tag 'Add BlogPost' %>
    </section>
  <% end %>
</section>
