<section class="page-title">
  <h1>Blog Post: <%= @blog_post.title %></h1>
</section>

<div class="quicknav-content">
  <%= link_to  'admin dashboard', admin_dashboard_index_path %>  / <%= link_to  'my blog_posts', admin_blog_posts_path %>
</div><br>
<section id='navigation-links-individual'>
  <%= link_to 'Edit Post', "/admin/blog_posts/#{@blog_post.id}/edit", method: :get %>
</section><br><br>

<section class="admin-blog-post-details-show">
  <!-- <section class="admin-blog-post-detail-category-show"> -->
    <!-- Blog Post Body: -->
  <!-- </section> -->
  <p class="admin-blog-post-details-body-show"><%= @blog_post.body %></p>

  <section class="admin-blog-post-detail-image-groups-show">
    <section class="admin-blog-post-detail-category-show">
      <p style="padding:1em 1em 0;">Images for <h3><%= @blog_post.title %></h3>:</p>
    </section>
    <section class="admin-blog-post-add-image-button">
      <%= button_to "Add image", "/admin/blog_posts/#{@blog_post.id}/add_photos", method: :get %>
    </section>
    <% if @blog_post.photos.attached? %>
      <section class="admin-blog-post-details-images-show">
          <% @blog_post.photos.map do |photo| %>
            <section class="admin-blog-post-details-card-show">
              <%= image_tag(photo) %>
              <%# <!-- <p class="admin-blog-post-details-image-show"><%= image_tag(photo) %>
              <!-- <section class="admin-blog-post-details-delete-image-button"> -->
              <%= button_to 'Delete Photo', "/admin/blog_posts/#{@blog_post.id}/remove_photo/#{photo.id}", method: :delete, data: { disable_with: "Wait..." }, data: { confirm: "Are you sure?" }, style: 'width:15em;'  %>
              <!-- </section> -->
            </section>
          <% end %>
      </section>
    <% else %>
      <h5>There is no image uploaded, yet for this Post!</h5>
    <% end %>
  </section>

  <section class="admin-blog-post-detail-tag-groups-show">
    <section class="admin-blog-post-detail-category-show">
      <p style="padding:1em 1em 0;">Tags for <h3><%= @blog_post.title %></h3>:</p>
    </section>
    <section class="admin-blog-post-add-tag-button">
      <%= button_to "Add a tag", "/admin/posts/#{@blog_post.id}/tags/new", method: :get %>
    </section>
    <% @blog_post.tags.map do |tag| %>
      <section class="admin-blog-post-details-tags">
        <p class="admin-blog-post-details-tag-show"><%= tag.title %></p>
      <!-- <p class="admin-blog-post-details-delete-tag-button"> -->
      <%= button_to 'Delete', "/admin/posts/#{@blog_post.id}/tags/#{tag.id}", method: :delete, data: { disable_with: "Wait..." }, data: { confirm: "Are you sure?" }  %>
      </section>
    <% end %>
  </section>

  <section class="admin-blog-post-detail-tag-groups-show">
    <section class="admin-blog-post-detail-category-show">
      <p style="padding:1em 1em 0; width:100%; display: flex; justify-content: flex-start;">Comments for <h3><%= @blog_post.title %></h3>:</p>
    </section>
    <% @blog_post.post_comments.map do |comment| %>
      <section class="admin-blog-post-details-comments">
        <p class="admin-blog-post-details-comment-show"><%= comment.comment %></p>
        <%= comment.guest_name %>
        <%= comment.created_at.strftime("%b %d, %Y @ %l:%M %P")%>
        <%= button_to 'Delete', "/admin/posts/#{@blog_post.id}/post_comments/#{comment.id}", method: :delete, data: { disable_with: "Wait..." }, data: { confirm: "Are you sure?" }  %>
      </section>
    <% end %>
  </section>

  <section class="admin-blog-post-remove-button">
    <%= button_to 'Delete Post', "/admin/blog_posts/#{@blog_post.id}", method: :delete, data: { disable_with: "Wait..." }, data: { confirm: "Are you sure?" }, style: 'background-color:red;' %>
  </section>
</section>
