<section class="page-title">
  <h1>All Student Works</h1>
</section>

<div class="quicknav-content">
  <div class="quicknav-dropdown">
    <ul class="dropdown-row">
      <li class="page-collection">
        <%= link_to 'home', welcome_index_path %>
      </li>
      <li class="folder-collection">
        <div class="quicknav-menu-bar-container" hover="myFunction(this)">
          <%= link_to 'art', artwork_collections_path %>
        </div>
        <div class="quicknav-dropdown-content">
          <ul>
            <li class="page-collection">
              <%= link_to 'all art', artworks_path %>
            </li>
            <% Collection.find_artworks.map do |collection| %>
              <li class="page-collection">
                <%= link_to collection.name, "/artwork/collections/#{collection.id}" %>
              </li>
            <% end %>
          </ul>
        </div>
      </li>
      <li class="folder-collection">
        <div class="quicknav-menu-bar-container" hover="myFunction(this)">
          <%= link_to 'objects', physical_object_collections_path %>
        </div>
        <div class="quicknav-dropdown-content">
          <ul>
            <li class="page-collection">
              <%= link_to 'all objects', clothings_path %>
            </li>
            <% Collection.find_objects.map do |collection| %>
              <li class="page-collection">
                <%= link_to collection.name, "/physical_object/collections/#{collection.id}" %>
              </li>
            <% end %>
          </ul>
        </div>
      </li>
      <li class="folder-collection">
        <div class="quicknav-menu-bar-container" hover="myFunction(this)">
          <%= link_to 'student works', student_works_path %>
        </div>
        <div class="quicknav-dropdown-content">
          <ul>
            <li class="page-collection">
              <%= link_to 'adult student works', adult_student_work_student_works_path %>
            </li>
            <li class="page-collection">
              <%= link_to 'youth student works', youth_student_work_student_works_path %>
            </li>
          </ul>
        </div>
      </li>
      <li class="page-collection">
        <%= link_to 'workshops', classrooms_path %>
      </li>
      <li class="folder-collection">
        <div class="quicknav-menu-bar-container" hover="myFunction(this)">
          <%= link_to 'blog posts', blog_posts_path %>
        </div>
        <div class="quicknav-dropdown-content">
          <ul>
            <% BlogPost.format_monthly_blog_date.uniq.map do |month_of_post| %>
              <li class="page-collection">
                <%= link_to month_of_post[0], "/blog_posts/monthly_blogs/#{month_of_post[1]}/#{month_of_post[2]}" %>
              </li>
            <% end %>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>

<section class="student-work-layout-index">
  <div class="student-work-about-text-index">
    <p>Some words about having Students and why working with them is your passion (one of them 😍)</p>
  </div>
  <section class="student-work-types-index">
      <% if @student_works.find_adults.first.image.attached? %>
        <section class="student-work-card-index">
          <section class="student-work-age-title-index">
            <!-- <h3>Examples of Adult Student Works</h3> -->
          </section>
          <div class="student-work-image-index">
            <%= image_tag(@student_works.find_adults.first.image, style: 'height:20em;width:20em') %>
          </div>
          <div class="student-work-card-title-index">
            <h3><%= link_to @student_works.find_adults.first.title, "/student_works/#{@student_works.find_adults.first.id}" %></h3>
          </div>
          <section class="student-work-card-adult-button">
            <%= button_to "Adults' Work", "/student_works/adult", method: :get %>
          </section>
        </section>
      <% else %>
        <section class="student-work-card-index">
          <section class="student-work-age-title-index">
            <!-- <h3>Examples of Adult Student Works</h3> -->
          </section>
          <section class="student-work-card-image-no-image-index">
            <p style="display:flex;justify-content:center;flex-direction:column;text-align: center; height:15em; width:15em">Image coming soon!</p>
          </section>
          <section class="student-work-card-title-index">
            <h3><%= link_to @student_works.find_adults.first.title, "/student_works/#{@student_works.find_adults.first.id}" %></h3>
          </section>
          <section class="student-work-card-adult-button">
            <%= button_to "Adults' Work", "/student_works/adult", method: :get %>
          </section>
        </section>
      <% end %>

      <% if @student_works.find_youths.first.image.attached? %>
        <section class="student-work-card-index">
          <section class="student-work-age-title-index">
            <!-- <h3>Examples of Young-Adult Student Works</h3> -->
          </section>
          <section class="student-work-youth-image-index">
            <%= image_tag (@student_works.find_youths.first.image) %>
          </section>
          <section class="student-work-card-title-index">
            <h3><%= link_to @student_works.find_youths.first.title, "/student_works/#{@student_works.find_youths.first.id}" %></h3>
          </section>
          <section class="student-work-card-young-adult-button">
            <%= button_to "Kids' Work", "/student_works/adult", method: :get %>
          </section>
        </section>
      <% else %>
        <section class="student-work-card-index">
          <section class="student-work-age-title-index">
            <!-- <h3>Examples of Young-Adult Student Works</h3> -->
          </section>
          <section class="student-work-card-image-no-image-index">
            <p style="display:flex;justify-content:center;flex-direction:column;text-align: center; height:15em; width:15em">Image coming soon!</p>
          </section>
          <section class="student-work-card-title-index">
            <%= link_to @student_works.find_youths.first.title, "/student_works/#{@student_works.find_youths.first.id}" %>
          </section>
          <section class="student-work-card-young-adult-button">
            <%= button_to "Kids' Work", "/student_works/youth", method: :get %>
          </section>
        </section>
      <% end %>
  </section>
</section>
