<section class="page-title">
  <h1>Add a new Social</h1>
</section>  
  <%= form_tag admin_socials_path do %>

  <%= label_tag 'Pinterest: '%><br>
  <%= text_field_tag :pinterest, nil, placeholder: 'your Pinterest link' %><br>

  <%= label_tag 'Instagram: '%><br>
  <%= text_field_tag :instagram, nil, placeholder: 'your Instagram handle' %><br>

  <%= label_tag 'Email: '%><br>
  <%= text_field_tag :email, nil, placeholder: "#{current_user.email}" %><br>

  <%= label_tag 'Etsy: '%><br>
  <%= text_field_tag :etsy, nil, placeholder: 'your Etsy Shop link' %><br>

  <%= label_tag 'Facebook: '%><br>
  <%= text_field_tag :facebook, nil, placeholder: 'your Facebook address' %><br>

  <%= label_tag 'LinkedIn: '%><br>
  <%= text_field_tag :linked_in, nil, placeholder: 'your LinkedIn link' %><br>

  <%= label_tag 'Twitter: '%><br>
  <%= text_field_tag :twitter, nil, placeholder: 'your Twitter handle' %><br>

  <%= submit_tag 'Submit' %>
<% end %>
