<!DOCTYPE html>
<html>
  <head>
    <title>Karin Soderholm</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class = 'topnav'>
      <%= link_to 'Home', welcome_index_path %>
      <%= link_to 'Register', registration_path unless current_user %>
      <%= link_to 'Log In', login_path unless current_user %>
      <% if current_user %>
        <%= link_to 'Log Out', logout_path %>
        <%= link_to 'Profile', profile_path %>
        <p>Logged in as <%= current_user.name %></p>
        <% if current_admin? %>
          <%= link_to 'Admin Dashboard', admin_dashboard_index_path %>
          <%= link_to 'Users', '/admin/users' %>
        <% end %>
      <% end %>
      <%= link_to 'Workshops', '/classrooms' %>
      <%# <%= link_to 'Items', '/items' %>
      <%= link_to 'Clothing', '/clothings' %>
      <%= link_to 'Artwork', '/artworks' %>
      <%# <%= link_to "Cart: #{cart.count}", cart_path unless current_user && current_admin? %>
    </nav>

    <% flash.each do |type, msg| %>
      <div class="alert alert-info">
        <%= msg %>
      </div>
    <% end %>
    
    <%= yield %>
    <nav class = 'bottomnav'>
      <h4>Get the latest news from Karin! Sign up here for exclusive information: </h4>
      <%= form_tag '/emails' do %>
        <%= label_tag :name %>
        <%= text_field_tag :name %>

        <%= label_tag :email_address %>
        <%= text_field_tag :email_address %>
        <%= submit_tag "Join Karin's Community" %>
      <% end %>

    </nav>
  </body>
</html>
